<section class="about">
    <div class="about__content">
        <div class="about__text-content">
            <picture>
                <source srcset="/images/about-pattern-tablet.svg" media="(max-width: 1024px)">
                <img src="/images/about-pattern.svg" alt="" class="about__pattern js-instant-fade-reveal">
            </picture>
            <div class="about__subtitle js-instant-fade-reveal">
                Plaza Garden Moscow wtc – это
            </div>
            <h2 class="h2 about__heading js-animated-heading" data-stagger="0.03" data-duration="0.3">
                Пятизвёздочный отель, расположенный в самом сердце деловой Москвы, на Краснопресненской набережной, в
                составе комплекса ЦМТ
            </h2>
            <div class="about__subheading js-instant-fade-reveal">
                Отель идеально подходит как для деловых поездок, так и для комфортного отдыха.
            </div>
            <a href="#" class="btn btn--outline about__link js-instant-fade-reveal">
                Подробнее о нас
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#diamond"></use>
                </svg>
            </a>
        </div>
        <div class="about__slider js-fade-reveal">
            <div class="about__slider-wrapper">
                <button class="about__slider-arrow about__slider-arrow--prev">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about__slider-card">
                                <img src="/images/about/1.webp" alt="" class="about__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__slider-card">
                                <img src="/images/about/2.webp" alt="" class="about__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__slider-card">
                                <img src="/images/about/3.webp" alt="" class="about__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__slider-card">
                                <img src="/images/about/4.webp" alt="" class="about__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="about__slider-arrow about__slider-arrow--next">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>