<section class="blocks">
    <div class="blocks__content">
        <div class="blocks__nav">
            <ul class="blocks__nav-list">
                <li class="blocks__nav-list-item">
                    <button class="blocks__nav-link active">
                        Клубный корпус
                    </button>
                </li>
                <li class="blocks__nav-list-item">
                    <button class="blocks__nav-link">
                        Бизнес корпус
                    </button>
                </li>
            </ul>
        </div>
        <div class="blocks__top-tabs">
            <div class="blocks__top-tabs-item active">
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#diamond"></use>
                </svg>
                <h3 class="h3 blocks__title">
                    Клубный корпус
                </h3>
                <div class="blocks__text">
                    Идеально для MICE там, где всё работает на результат. Точка сборки вашего дня: переговоры, деловые
                    встречи, конференции и комфорт без компромиссов.
                </div>
            </div>
            <div class="blocks__top-tabs-item">
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#diamond"></use>
                </svg>
                <h3 class="h3 blocks__title">
                    Бизнес корпус
                </h3>
                <div class="blocks__text">
                    Идеально для MICE там, где всё работает на результат. Точка сборки вашего дня: переговоры, деловые
                    встречи, конференции и комфорт без компромиссов.
                </div>
            </div>
        </div>
        <div class="blocks__bottom-tabs">
            <div class="blocks__bottom-tab active">
                <div class="blocks__slider">
                    <button class="blocks__slider-arrow blocks__slider-arrow--prev">
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <div class="blocks__slider-wrapper">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="room-card">
                                        <div class="room-card__image-container">
                                            <img src="/images/blocks/1.webp" alt="" class="room-card__image">
                                        </div>
                                        <div class="room-card__content">
                                            <div class="room-card__title">
                                                Стандарт<br>
                                                с 1 двуспальной кроватью
                                            </div>
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="room-card">
                                        <div class="room-card__image-container">
                                            <img src="/images/blocks/2.webp" alt="" class="room-card__image">
                                        </div>
                                        <div class="room-card__content">
                                            <div class="room-card__title">
                                                Стандарт<br>
                                                с 2 раздельными кроватями
                                            </div>
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="room-card">
                                        <div class="room-card__image-container">
                                            <img src="/images/blocks/3.webp" alt="" class="room-card__image">
                                        </div>
                                        <div class="room-card__content">
                                            <div class="room-card__title">
                                                Стандарт<br>
                                                с кроватью размера Queen
                                            </div>
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="room-card">
                                        <div class="room-card__image-container">
                                            <img src="/images/blocks/1.webp" alt="" class="room-card__image">
                                        </div>
                                        <div class="room-card__content">
                                            <div class="room-card__title">
                                                Стандарт<br>
                                                с 1 двуспальной кроватью
                                            </div>
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blocks__gradients">

                    </div>
                    <button class="blocks__slider-arrow blocks__slider-arrow--next">
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="blocks__bottom-tab">
                <div class="blocks__slider">
                    <button class="blocks__slider-arrow blocks__slider-arrow--prev">
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <div class="blocks__slider-wrapper">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="room-card">
                                        <div class=" room-card__image-container">
                                            <img src="/images/blocks/1.webp" alt="" class="room-card__image">
                                        </div>
                                        <div class="room-card__content">
                                            <div class="room-card__title">
                                                Стандарт<br>
                                                с 1 двуспальной кроватью
                                            </div>
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="room-card">
                                        <div class=" room-card__image-container">
                                            <img src="/images/blocks/2.webp" alt="" class="room-card__image">
                                        </div>
                                        <div class="room-card__content">
                                            <div class="room-card__title">
                                                Стандарт<br>
                                                с 2 раздельными кроватями
                                            </div>
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="room-card">
                                        <div class=" room-card__image-container">
                                            <img src="/images/blocks/3.webp" alt="" class="room-card__image">
                                        </div>
                                        <div class="room-card__content">
                                            <div class="room-card__title">
                                                Стандарт<br>
                                                с кроватью размера Queen
                                            </div>
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="room-card">
                                        <div class=" room-card__image-container">
                                            <img src="/images/blocks/1.webp" alt="" class="room-card__image">
                                        </div>
                                        <div class="room-card__content">
                                            <div class="room-card__title">
                                                Стандарт<br>
                                                с 1 двуспальной кроватью
                                            </div>
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blocks__gradients">

                    </div>
                    <button class="blocks__slider-arrow blocks__slider-arrow--next">
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn--outline blocks__more-link">
            Подробнее о номерах
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
        </a>
    </div>
</section>