<section class="bonus-modal js-modal" id="bonus-modal" data-lenis-prevent="">
    <div class="bonus-modal__content">
        <button class="bonus-modal__close js-modal-close">
            <svg width="15" height="15" viewBox="0 0 15 15">
                <path
                    d="M4.3539 3.6461L7.5007 6.79289L10.6468 3.64679L11.3539 4.3539L8.20781 7.5L11.3539 10.6461L10.6468 11.3532L7.5007 8.20711L4.3539 11.3539L3.64679 10.6468L6.79358 7.5L3.64679 4.35321L4.3539 3.6461Z" />
            </svg>
        </button>
        <div class="bonus-modal__row">
            <div class="bonus-modal__text-content">
                <h3 class="bonus-modal__heading">
                    Программа лояльности
                    ЦМТ-бонус
                </h3>
                <ul class="bonus-modal__list">
                    <li class="bonus-modal__list-item">
                        Регистрируйтесь в программе лояльности на сайте
                        и получите 300 приветственных баллов и специальный тариф на проживание
                    </li>
                    <li class="bonus-modal__list-item">
                        Теперь можно тратить и копить одновременно - эксклюзивно для гостей Plaza Garden Moscow WTC
                    </li>
                </ul>
                <a href="#" class="bonus-modal__link">
                    Подробнее
                </a>
            </div>
            <div class="bonus-modal__image-container">
                <img src="/images/bonus-modal.webp" alt="" class="bonus-modal__image">
            </div>
        </div>
    </div>
</section>