<form action="/" class="booking-form">
    <div class="booking-form__fields">
        <div class="booking-form__field">
            <button class="booking-form__select-btn" type="button">
                <span class="booking-form__select-btn-content">
                    <span class="booking-form__select-btn-label">
                        Заезд
                    </span>
                    <span class="booking-form__select-btn-value">
                        01.05.25
                    </span>
                </span>
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#select-arrow"></use>
                </svg>
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#select-arrow-stylized"></use>
                </svg>
            </button>
        </div>
        <div class="booking-form__field">
            <button class="booking-form__select-btn" type="button">
                <span class="booking-form__select-btn-content">
                    <span class="booking-form__select-btn-label">
                        выезд
                    </span>
                    <span class="booking-form__select-btn-value">
                        10.05.25
                    </span>
                </span>
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#select-arrow"></use>
                </svg>
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#select-arrow-stylized"></use>
                </svg>
            </button>
        </div>
        <div class="booking-form__field booking-form__field--fullwidth">
            <button class="booking-form__select-btn" type="button">
                <span class="booking-form__select-btn-content">
                    <span class="booking-form__select-btn-label">
                        Гости
                    </span>
                    <span class="booking-form__select-btn-value">
                        2 взрослых, 1 ребенок
                    </span>
                </span>
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#select-arrow"></use>
                </svg>
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#select-arrow-stylized"></use>
                </svg>
            </button>
        </div>
    </div>
    <button class="booking-form__submit" type="submit">
        Забронировать
    </button>
</form>