<section class="block">
    <div class="block__content">
        <div class="block__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <span class="block__divider">
                /
            </span>
            <a href="#" class="active">
                Проживание
            </a>
        </div>
        <h1 class="h1 block__main-heading">
            <b>Проживание</b><br>
            в Plaza Garden
        </h1>
        <div class="block__image-container">
            <picture>
                <source srcset="/images/business-block/mobile.webp" media="(max-width: 576px)">
                <source srcset="/images/business-block/tablet.webp" media="(max-width: 1024px)">
                <source srcset="/images/business-block/laptop.webp" media="(max-width: 1500px)">
                <img src="/images/business-block/desktop.webp" alt="" class="block__image">
            </picture>
        </div>
        <div class="block__nav">
            <ul class="block__nav-list">
                <li class="block__nav-list-item">
                    <a href="#" class="block__nav-link active">
                        Клубный корпус
                    </a>
                </li>
                <li class="block__nav-list-item">
                    <a href="#" class="block__nav-link">
                        Бизнес корпус
                    </a>
                </li>
            </ul>
        </div>
        <div class="block__diamond">
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
        </div>
        <h2 class="h2 block__secondary-heading">
            Клубный корпус
        </h2>
        <div class="block__text">
            Клубный корпус отеля Plaza Garden Moscow WTC — это 149 премиальных просторных номеров. Гостей ждут высокие
            потолки, панорамные окна и продуманный дизайн.
        </div>
        <a href="#" class="block__book-btn">
            Забронировать
        </a>
        <div class="block__advantages-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="block__advantages-slider-card">
                            <div class="block__advantages-slider-card-title">
                                бесплатная парковка
                                на территории отеля для проживающих гостей
                            </div>
                            <div class="block__advantages-slider-card-icon">
                                <img src="/images/business-block/icons/1.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="block__advantages-slider-card">
                            <div class="block__advantages-slider-card-title">
                                фитнес-центр и бассейн (оплачиваются отдельно)
                            </div>
                            <div class="block__advantages-slider-card-icon">
                                <img src="/images/business-block/icons/2.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="block__advantages-slider-card">
                            <div class="block__advantages-slider-card-title">
                                изысканные блюда
                                в точках питания, рестораны
                            </div>
                            <div class="block__advantages-slider-card-icon">
                                <img src="/images/business-block/icons/3.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="block__advantages-slider-card">
                            <div class="block__advantages-slider-card-title">
                                круглосуточный рум-сервис и высокие стандарты безопасности
                            </div>
                            <div class="block__advantages-slider-card-icon">
                                <img src="/images/business-block/icons/4.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="block__advantages-slider-card">
                            <div class="block__advantages-slider-card-title">
                                высокоскоростной
                                Wi-Fi
                            </div>
                            <div class="block__advantages-slider-card-icon">
                                <img src="/images/business-block/icons/5.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="block__list">
            <li class="block__list-item">
                <a href="#" class="room-card">
                    <div class="room-card__image-container">
                        <img src="/images/club-block/rooms/1.webp" alt="" class="room-card__image">
                    </div>
                    <div class="room-card__content">
                        <div class="room-card__title">
                            клубный<br>
                            джуниор
                        </div>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="block__list-item">
                <a href="#" class="room-card">
                    <div class="room-card__image-container">
                        <img src="/images/club-block/rooms/2.webp" alt="" class="room-card__image">
                    </div>
                    <div class="room-card__content">
                        <div class="room-card__title">
                            клубный<br>
                            посольский люкс
                        </div>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="block__list-item">
                <a href="#" class="room-card">
                    <div class="room-card__image-container">
                        <img src="/images/club-block/rooms/3.webp" alt="" class="room-card__image">
                    </div>
                    <div class="room-card__content">
                        <div class="room-card__title">
                            клубный<br>
                            премиум
                        </div>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</section>