<section class="contacts">
    <div class="contacts__content">
        <div class="contacts__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <div class="contacts__breadcrumbs-divider">
                /
            </div>
            <a href="#" class="active">
                Контакты
            </a>
        </div>
        <h1 class="h1 contacts__heading">
            Контакты
        </h1>
        <div class="contacts__top-row">
            <div class="contacts__inner-wrapper">


                <div class="contacts__left-col">
                    <div class="contacts__address">
                        <h3 class="contacts__address-title">
                            адрес:
                        </h3>
                        <div class="contacts__address-text">
                            г. Москва, Краснопресненская наб., д.12
                        </div>
                    </div>
                    <div class="contacts__routes">
                        <a href="#" class="contacts__routes-btn">
                            Построить маршрут до Клубного корпуса
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </a>
                        <a href="#" class="contacts__routes-btn">
                            Построить маршрут до Бизнес корпуса
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="contacts__middle-col">
                    <div class="contacts__schedule">
                        <h3 class="contacts__schedule-title">
                            Время работы:
                        </h3>
                        <div class="contacts__schedule-text">
                            круглосуточно
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts__right-col">
                <div class="contacts__info">
                    <h3 class="contacts__info-title">
                        Контакты для связи:
                    </h3>
                    <ul class="contacts__info-list">
                        <li class="contacts__info-list-item">
                            <a href="tel:+74952582122" class="contacts__info-link">
                                <span class="contacts__info-link-text">
                                    +7 (495) 258-21-22
                                </span>
                                <span class="contacts__info-link-remark">
                                    отдел бронирования
                                </span>
                            </a>
                        </li>
                        <li class="contacts__info-list-item">
                            <a href="tel:+74952582222" class="contacts__info-link">
                                <span class="contacts__info-link-text">
                                    +7 (495) 258-22-22
                                </span>
                                <span class="contacts__info-link-remark">
                                    телефон отеля
                                </span>
                            </a>
                        </li>
                        <li class="contacts__info-list-item">
                            <a href="mailto:plazareservations@plazagarden.ru" class="contacts__info-link">
                                <span class="contacts__info-link-text">
                                    plazareservations@plazagarden.ru
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contacts__map-wrapper">
            <div class="contacts__map-scroll-wrapper">
                <picture>
                    <source srcset="/images/contacts/mobile.webp" media="(max-width: 576px)">
                    <source srcset="/images/contacts/tablet.webp" media="(max-width: 1024px)">
                    <source srcset="/images/contacts/laptop.webp" media="(max-width: 1500px)">
                    <img src="/images/contacts/desktop.webp" alt="" class="contacts__map">
                </picture>
            </div>
            <div class="contacts__map-scroll-indicator">
                <div class="contacts__map-scroll-indicator-progress">
                    <div class="contacts__map-scroll-indicator-handle">

                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__bottom-wrapper">
            <div class="contacts__departments-row">
                <div class="contacts__departments-col">
                    <h3 class="h4 contacts__departments-title">
                        Отдел бронирования
                    </h3>
                    <ul class="contacts__departments-list">
                        <li class="contacts__departments-list-item">
                            <a href="tel:+74952582122" class="contacts__departments-card">
                                <div class="contacts__departments-card-key">
                                    факс
                                </div>
                                <div class="contacts__departments-card-value">
                                    +7 (495) 258-21-22
                                </div>
                            </a>
                        </li>
                        <li class="contacts__departments-list-item">
                            <a href="tel:+74952582122" class="contacts__departments-card">
                                <div class="contacts__departments-card-key">
                                    телефон
                                </div>
                                <div class="contacts__departments-card-value">
                                    +7 (495) 258-21-22
                                </div>
                            </a>
                        </li>
                        <li class="contacts__departments-list-item">
                            <a href="mailto:plazareservations@plazagarden.ru" class="contacts__departments-card">
                                <div class="contacts__departments-card-key">
                                    email
                                </div>
                                <div class="contacts__departments-card-value">
                                    plazareservations@plazagarden.ru
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contacts__departments-col">
                    <h3 class="h4 contacts__departments-title">
                        Отдел бронирования
                    </h3>
                    <ul class="contacts__departments-list">
                        <li class="contacts__departments-list-item">
                            <a href="tel:+74952581700" class="contacts__departments-card">
                                <div class="contacts__departments-card-key">
                                    факс
                                </div>
                                <div class="contacts__departments-card-value">
                                    +7 (495) 258-17-00
                                </div>
                            </a>
                        </li>
                        <li class="contacts__departments-list-item">
                            <a href="tel:+74952581738" class="contacts__departments-card">
                                <div class="contacts__departments-card-key">
                                    телефон
                                </div>
                                <div class="contacts__departments-card-value">
                                    +7 (495) 258-17-38
                                </div>
                            </a>
                        </li>
                        <li class="contacts__departments-list-item">
                            <a href="mailto:plazasales@plazagarden.ru" class="contacts__departments-card">
                                <div class="contacts__departments-card-key">
                                    email
                                </div>
                                <div class="contacts__departments-card-value">
                                    plazasales@plazagarden.ru
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contacts__departments-col">
                    <h3 class="h4 contacts__departments-title">
                        Отдел приема
                        и размещения
                    </h3>
                    <ul class="contacts__departments-list">
                        <li class="contacts__departments-list-item">
                            <a href="tel:+74952582222" class="contacts__departments-card">
                                <div class="contacts__departments-card-key">
                                    оператор отеля
                                </div>
                                <div class="contacts__departments-card-value">
                                    +7 (495) 258-22-22
                                </div>
                            </a>
                        </li>
                        <li class="contacts__departments-list-item">
                            <a href="tel:+74952582323" class="contacts__departments-card">
                                <div class="contacts__departments-card-key">
                                    факс
                                </div>
                                <div class="contacts__departments-card-value">
                                    +7 (495) 258-23-23
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="contacts__how-to-get">
                <h2 class="h2 contacts__how-to-get-heading">
                    Как добраться
                </h2>
                <div class="contacts__how-to-get-nav">
                    <ul class="contacts__how-to-get-nav-list">
                        <li class="contacts__how-to-get-nav-list-item">
                            <a href="#" class="contacts__how-to-get-nav-link active">
                                От аэропорта Шереметьево
                            </a>
                        </li>
                        <li class="contacts__how-to-get-nav-list-item">
                            <a href="#" class="contacts__how-to-get-nav-link">
                                От аэропорта Домодедово
                            </a>
                        </li>
                        <li class="contacts__how-to-get-nav-list-item">
                            <a href="#" class="contacts__how-to-get-nav-link">
                                От аэропорта Внуково
                            </a>
                        </li>
                        <li class="contacts__how-to-get-nav-list-item">
                            <a href="#" class="contacts__how-to-get-nav-link">
                                От метро «Улица 1905 года»
                            </a>
                        </li>
                        <li class="contacts__how-to-get-nav-list-item">
                            <a href="#" class="contacts__how-to-get-nav-link">
                                От метро «Выставочная, Деловой центр»
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contacts__how-to-get-tabs">
                    <div class="contacts__how-to-get-tabs-item active">
                        <div class="contacts__how-to-get-row">
                            <div class="contacts__how-to-get-distance">
                                <div class="contacts__how-to-get-distance-key">
                                    расстояние
                                </div>
                                <div class="contacts__how-to-get-distance-value">
                                    27 км
                                </div>
                            </div>
                            <div class="contacts__how-to-get-direction">
                                <div class="contacts__how-to-get-direction-key">
                                    направление
                                </div>
                                <div class="contacts__how-to-get-direction-value">
                                    юго-восток
                                </div>
                            </div>
                            <div class="contacts__how-to-get-description">
                                <div class="contacts__how-to-get-description-key">
                                    описание маршрута
                                </div>
                                <div class="contacts__how-to-get-description-value">
                                    Воспользуйтесь услугами поезда Аэроэкспресс, который доставит вас на Белорусский
                                    вокзал. Вход в метро на станцию Белорусская расположен в здании вокзала. Поездка на
                                    метро до станции Улица 1905 года займет 10-12 минут. Воспользуйтесь выходом, ведущим
                                    на улицу 1905 года. Остановка городского маршрута Nºc321, которое следует до здания
                                    Центра Международной Торговли и отеля Plaza Garden Moscow WTC, находится на
                                    пересечении Улицы 1905 года и Звенигородского шоссе.
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#times 4}}
                    <div class="contacts__how-to-get-tabs-item">
                        <div class="contacts__how-to-get-row">
                            <div class="contacts__how-to-get-distance">
                                <div class="contacts__how-to-get-distance-key">
                                    расстояние
                                </div>
                                <div class="contacts__how-to-get-distance-value">
                                    27 км
                                </div>
                            </div>
                            <div class="contacts__how-to-get-direction">
                                <div class="contacts__how-to-get-direction-key">
                                    направление
                                </div>
                                <div class="contacts__how-to-get-direction-value">
                                    юго-восток
                                </div>
                            </div>
                            <div class="contacts__how-to-get-description">
                                <div class="contacts__how-to-get-description-key">
                                    описание маршрута
                                </div>
                                <div class="contacts__how-to-get-description-value">
                                    Воспользуйтесь услугами поезда Аэроэкспресс, который доставит вас на Белорусский
                                    вокзал. Вход в метро на станцию Белорусская расположен в здании вокзала. Поездка на
                                    метро до станции Улица 1905 года займет 10-12 минут. Воспользуйтесь выходом, ведущим
                                    на улицу 1905 года. Остановка городского маршрута Nºc321, которое следует до здания
                                    Центра Международной Торговли и отеля Plaza Garden Moscow WTC, находится на
                                    пересечении Улицы 1905 года и Звенигородского шоссе.
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/times}}
                </div>
            </div>
        </div>
    </div>
</section>