<section class="document">
    <div class="document__content">
        <div class="document__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <div class="document__breadcrumbs-divider">
                /
            </div>
            <a href="#">
                Документы и правила
            </a>
            <div class="document__breadcrumbs-divider hide-on-mobile">
                /
            </div>
            <a href="#" class="hide-on-mobile active">
                Правила предоставления гостиничных услуг
            </a>
        </div>
        <h1 class="h1 document__heading">
            Правила предоставления<br>
            гостиничных услуг
        </h1>
        <div class="document__text-content">
            <h2>
                1. Общие положения
            </h2>
            <p>
                1.1. Настоящие Правила предоставления гостиничных услуг в&nbsp;гостинице Plaza Garden Moscow World Trade
                Centre (далее&nbsp;&mdash; Гостиница) разработаны на&nbsp;основе постановления Правительства Российской
                Федерации от&nbsp;18.11.2020 &#8470;&nbsp;1853 &laquo;Об&nbsp;утверждении Правил предоставления
                гостиничных услуг в&nbsp;Российской Федерации&raquo; и&nbsp;регулируют отношения в&nbsp;области
                предоставления гостиничных услуг при заключении и&nbsp;исполнении договора о&nbsp;предоставлении
                указанных услуг между заказчиком (потребителем) и&nbsp;ПАО &laquo;ЦМТ&raquo; (Исполнитель),
                предоставляющее потребителю гостиничные услуги в&nbsp;гостинице &laquo;Plaza Garden Moscow World Trade
                Centre&raquo;.<br>
                1.2. В&nbsp;настоящих Правилах используются следующие понятия:<br>
                &laquo;Гостиница&raquo;&nbsp;&mdash; гостиница &laquo;Plaza Garden Moscow World Trade Centre&raquo;,
                являющаяся структурным подразделением ПАО &laquo;ЦМТ&raquo;; &laquo;Исполнитель&raquo;&nbsp;&mdash;
                Публичное акционерное общество &laquo;Центр международной торговли&raquo; (ИНН 7703034574),
                предоставляющее гостиничные услуги и&nbsp;являющееся собственником комплекса зданий, расположенных
                по&nbsp;адресу Москва, Краснопресненская наб.&nbsp;12, в&nbsp;том числе здания Гостиницы.
                &laquo;бронирование&raquo;&nbsp;&mdash; закрепление за&nbsp;потребителем номера в&nbsp;Гостинице
                на&nbsp;условиях, определенных заявкой заказчика или потребителя и&nbsp;подтверждение этой заявки
                со&nbsp;стороны Гостиницы; &laquo;время выезда&nbsp;&mdash; время, установленное Гостиницей для выезда
                потребителя; &laquo;время заезда&raquo;&nbsp;&mdash; время, установленное Гостиницей для заезда
                потребителя; &laquo;заказчик&raquo;&nbsp;&mdash; физическое или юридическое лицо или индивидуальный
                предприниматель, имеющие намерение заказать или приобрести, либо заказывающие или приобретающие
                гостиничные услуги в&nbsp;пользу потребителя; &laquo;потребитель&raquo;&nbsp;&mdash; физическое лицо,
                имеющее намерение заказать или приобрести, либо заказывающее или приобретающее&nbsp;и (или) использующее
                гостиничные услуги для личных и&nbsp;иных нужд, не&nbsp;связанных с&nbsp;осуществлением
                предпринимательской деятельности; &laquo;цена номера&raquo;&nbsp;&mdash; стоимость временного проживания
                и&nbsp;иных сопутствующих услуг, определенных Исполнителем, оказываемых за&nbsp;единую цену.
            </p>
            <h2>
                2. Информация о Гостинице и предоставляемых гостиничных услугах
            </h2>
            <p>
                2.1. Общая информация о&nbsp;Гостинице. Гостиница является структурным подразделением
                и&nbsp;собственностью юридического лица&nbsp;&mdash; Публичного акционерного общества &laquo;Центр
                международной торговли&raquo; (далее&nbsp;&mdash; ПАО &laquo;ЦМТ&raquo;) (ИНН 7703034574, Юридический
                адрес и&nbsp;адрес местонахождения: 123610, г. Москва, Краснопресненская набережная, дом 12). ПАО
                &laquo;ЦМТ&raquo; осуществляет деятельность в&nbsp;сфере: &laquo;международный въездной туризм,
                внутренний туризм&raquo; c&nbsp;присвоением реестрового номера в&nbsp;Едином Федеральном реестре
                туроператоров РТО &#8470;&nbsp;000077 и&nbsp;на&nbsp;основании сертификатов соответствия, выданных
                органами по&nbsp;сертификации услуг.<br>
                2.2. Гостинице присвоена категория &laquo;Пять звезд&raquo;.
                Имеет
                свидетельство о&nbsp;присвоении категории Гостинице или иному средству размещения РГА
                &#8470;&nbsp;550000346, выданное Некоммерческой организацией &laquo;Российская гостиничная
                ассоциация&raquo;.<br>
                2.3. Местонахождение Гостиницы: Российская Федерация, 123610&nbsp;г. Москва,
                Краснопресненская наб.&nbsp;12., контактный телефон&nbsp;8 (495) 258- 22-22, адрес электронной почты:
                INFO@PLAZAGARDEN.RU.<br>
                2.4. Режим работы Гостиницы&nbsp;&mdash; круглосуточно.<br> 2.5. Установленная оплата
                проживания в&nbsp;Гостинице&nbsp;&mdash; посуточная.<br> 2.6. Категория средств размещения: Номера
                категории
                Сюит; Люкс; Студия; Первая категория.<br>
                2.7. В&nbsp;цену номера включены следующие услуги: -
                пользование
                сейфом в&nbsp;номере или специальной сейфовой комнатой оборудованной на&nbsp;территории Гостиницы
                в&nbsp;Отделе приема и&nbsp;размещения; - доставка багажа в&nbsp;номер (кроме групповых заездов, при
                которых поднос багажа предоставляется согласно прейскуранту); - услуги фитнес-зала клубного корпуса (для
                гостей (далее&nbsp;&mdash; потребитель) клубного корпуса) или услуги фитнес-зала основного корпуса (для
                потребителей основного корпуса); - доступ к&nbsp;сети Wi-Fi; - парковка автотранспортных средств,
                принадлежащих потребителям, на&nbsp;территории ЦМТ; - доставка до&nbsp;выставочного комплекса
                &laquo;Экспоцентр&raquo; и&nbsp;обратно в&nbsp;период проведения крупных выставок.<br>
                2.8. Гостиница
                по&nbsp;просьбе потребителя обеспечивает без оплаты предоставление следующих видов услуг: - вызов скорой
                помощи, других специальных служб; - пользование медицинской аптечкой; - доставка в&nbsp;номер
                корреспонденции, адресованной потребителю, по&nbsp;ее&nbsp;получении; - побудка к&nbsp;определенному
                времени; - предоставление кипятка (наличие электрического чайника в&nbsp;каждом номере).<br>
                2.9.
                К&nbsp;услугам потребителей на&nbsp;территории зданий Исполнителя имеются: - рестораны, бары, кафе,
                банкетная служба; - ресторанное обслуживание в&nbsp;номерах (круглосуточно); - бизнес-центр; -
                конгресс-центр и&nbsp;переговорные комнаты; - транспортные услуги; - услуги прачечной и&nbsp;химчистки;
                - камера хранения багажа; - салон красоты; - бутики, магазины сувениров, супермаркет; - почта, служба
                доставки корреспонденции; - пункты обмена валюты.<br>
                2.10. Информацию о&nbsp;работе служб, указанных
                в&nbsp;пункте 2.9., можно получить на&nbsp;стойке приема и&nbsp;размещения Гостиницы.<br>
                2.11. Исполнитель
                не&nbsp;вправе без согласия потребителя оказывать иные платные услуги, не&nbsp;входящие в&nbsp;цену
                номера.
            </p>
            <h2>
                3. Порядок оплаты услуг
            </h2>
            <p>
                3.1. Исполнитель оставляет за&nbsp;собой право изменять открытые тарифы (тарифы, формирующиеся ежедневно
                на&nbsp;основе соотношения спроса и&nbsp;предложения на&nbsp;рынке на&nbsp;каждый день) по&nbsp;своему
                усмотрению. Тарифы на&nbsp;дополнительные платные услуги устанавливаются согласно утвержденному
                прейскуранту.<br>
                3.2. Оплата за&nbsp;предоставленные услуги производится потребителем: - банковским
                переводом; - наличными рублями; - обратите внимание, что оплата услуг картами иностранных банков
                временно недоступна. К&nbsp;оплате принимаются карты, выпущенные на&nbsp;территории Российской
                Федерации.<br>
                3.3. При поселении потребитель обязан оплатить Исполнителю обеспечительный платеж в&nbsp;целях
                пользования дополнительными услугами (завтрак в&nbsp;ресторане, услуги прачечной и&nbsp;химчистки,
                мини-бар, телефонные переговоры). Размер обеспечительного платежа устанавливается Исполнителем.<br>
                3.4.
                Перечень категорий потребителей, имеющих право на&nbsp;получение льгот. Право на&nbsp;внеочередное
                размещение имеют: - Герои Советского Союза, Герои Российской Федерации, полные кавалеры орденов Славы,
                участники и&nbsp;инвалиды Великой Отечественной войны и&nbsp;приравненные к&nbsp;ним лица, а&nbsp;также
                инвалиды 1-ой группы и&nbsp;лица, сопровождающие&nbsp;их (не&nbsp;более одного человека).
            </p>
            <h2>
                4. Порядок заключения договора об оказании гостиничных услуг, оформления и правила проживания
                Потребителей
            </h2>
            <p>
                4.1. Гостиничные услуги предоставляются Исполнителем на&nbsp;основании договора, заключаемого
                в&nbsp;письменной форме. Письменная форма договора считается соблюденной в&nbsp;случае составления
                одного документа (в&nbsp;том числе электронного), подписанного 2&nbsp;сторонами, или подтверждения
                Исполнителем заявки, направленной Заказчиком (Потребителем) Исполнителю, а&nbsp;также в&nbsp;случае
                совершения Заказчиком (Потребителем) действий, направленных на&nbsp;получение услуг (в&nbsp;том числе
                уплата Заказчиком (Потребителем) соответствующей суммы Исполнителю).<br>
                4.2. Номер в&nbsp;Гостинице
                предоставляется при условии предъявления Потребителем документа, удостоверяющего его личность
                в&nbsp;соответствии с&nbsp;законодательством Российской Федерации, в&nbsp;том числе: паспорта гражданина
                Российской Федерации, удостоверяющего личность гражданина Российской Федерации на&nbsp;территории
                Российской Федерации; паспорта гражданина СССР, удостоверяющего личность гражданина Российской
                Федерации, до&nbsp;замены его в&nbsp;установленный срок на&nbsp;паспорт гражданина Российской Федерации;
                свидетельства о&nbsp;рождении&nbsp;&mdash; для лица, не&nbsp;достигшего 14-летнего возраста; паспорта
                гражданина Российской Федерации, удостоверяющего личность гражданина Российской Федерации
                за&nbsp;пределами Российской Федерации, для лица, постоянно проживающего за&nbsp;пределами Российской
                Федерации; временного удостоверения личности гражданина Российской Федерации; паспорта иностранного
                гражданина либо иного документа, установленного федеральным законом или признанного в&nbsp;соответствии
                с&nbsp;международным договором Российской Федерации в&nbsp;качестве документа, удостоверяющего личность
                иностранного гражданина; документа, выданного иностранным государством и&nbsp;признаваемого
                в&nbsp;соответствии с&nbsp;международным договором Российской Федерации в&nbsp;качестве документа,
                удостоверяющего личность лица без гражданства; разрешения на&nbsp;временное проживание лица без
                гражданства; вида на&nbsp;жительство лица без гражданства.<br>
                4.3. Регистрация в&nbsp;Гостинице (заселение
                в&nbsp;Гостиницу) несовершеннолетних граждан, не&nbsp;достигших 14-летнего возраста, осуществляется
                на&nbsp;основании документов, удостоверяющих личность находящихся вместе с&nbsp;ними родителей
                (усыновителей, опекунов), сопровождающего лица (лиц), при условии предоставления таким сопровождающим
                лицом (лицами) согласия законных представителей (одного из&nbsp;них), а&nbsp;также свидетельств
                о&nbsp;рождении этих несовершеннолетних.Заселение в&nbsp;гостиницу несовершеннолетних граждан, достигших
                14-летнего возраста, в&nbsp;отсутствие нахождения рядом с&nbsp;ними законных представителей
                осуществляется на&nbsp;основании документов, удостоверяющих личность этих несовершеннолетних, при
                условии предоставления согласия законных представителей (одного из&nbsp;них).<br>
                4.4. Регистрация
                потребителей, являющихся гражданами Российской Федерации, по&nbsp;месту пребывания в&nbsp;гостинице
                осуществляется в&nbsp;соответствии с&nbsp;Правилами регистрации и&nbsp;снятия граждан Российской
                Федерации с&nbsp;регистрационного учета по&nbsp;месту пребывания и&nbsp;по&nbsp;месту жительства
                в&nbsp;пределах Российской Федерации. Постановка потребителей, являющихся иностранными гражданами
                и&nbsp;лицами без гражданства, на&nbsp;учет по&nbsp;месту пребывания в&nbsp;гостинице и&nbsp;снятие
                их&nbsp;с&nbsp;учета по&nbsp;месту пребывания осуществляются в&nbsp;соответствии с&nbsp;Правилами
                осуществления миграционного учета иностранных граждан и&nbsp;лиц без гражданства в&nbsp;Российской
                Федерации.<br>
                4.5. При необходимости заселения в&nbsp;номер второго лица, на&nbsp;которого не&nbsp;было
                сделано бронирование, заселение осуществляется при условии обязательной регистрации с&nbsp;согласия
                потребителя, проживающего в&nbsp;номере. Незарегистрированные лица без предварительного бронирования
                не&nbsp;имеют права находиться в&nbsp;номере после 23.00&nbsp;часов. Потребитель несет ответственность
                за&nbsp;нахождение незарегистрированного лица после 23-00. По&nbsp;желанию, данное лицо без
                предварительного бронирования может купить на&nbsp;сутки номер по&nbsp;открытому тарифу (при наличии
                свободных номеров) и&nbsp;зарегистрироваться в&nbsp;Гостинице.<br>
                4.6. Установленный Исполнителем расчетный
                час: - время заезда&nbsp;&mdash; 15.00&nbsp;часов; - время выезда&nbsp;&mdash; 13.00&nbsp;часов.<br>
                4.7.
                При проживании потребителя менее 24&nbsp;часов плата взимается за&nbsp;полные сутки независимо
                от&nbsp;времени размещения.<br>
                4.8. Дети до&nbsp;5&nbsp;лет размещаются в&nbsp;одном номере
                с&nbsp;родителями без дополнительной оплаты, в&nbsp;том числе при предоставлении дополнительного места
                (за&nbsp;исключением групповых заездов, при которых номера предоставляются согласно утвержденному
                прейскуранту).<br>
                4.9. Исполнитель применяет в&nbsp;Гостинице следующие виды бронирования: Гарантированное
                бронирование&nbsp;&mdash; вид бронирования, при котором Исполнитель ожидает потребителя
                до&nbsp;расчетного часа времени выезда дня, следующего за&nbsp;днем запланированного заезда.
                В&nbsp;случае несвоевременного отказа от&nbsp;бронирования, опоздания или незаезда потребителя,
                с&nbsp;него или с&nbsp;заказчика гостиничных услуг взимается плата за&nbsp;фактический простой номера
                (места в&nbsp;номере), но&nbsp;не&nbsp;более чем за&nbsp;сутки. При опоздании более чем на&nbsp;сутки
                договор прекращается. Негарантированное бронирование&nbsp;&mdash; вид бронирования, при котором
                гостиница ожидает потребителя до&nbsp;16-00&nbsp;в день заезда, после чего договор прекращается.<br>
                4.10.
                Если потребителя-инвалида сопровождает личный помощник, предоставляется номер с&nbsp;двумя отдельными
                кроватями. Если предоставить номер с&nbsp;двумя отдельными кроватями невозможно, то&nbsp;без оплаты
                предоставляется смежный номер (за&nbsp;исключением групповых заездов, при которых номера предоставляются
                согласно утвержденному прейскуранту).<br>
                4.11. Переоформление потребителя в&nbsp;другой номер
                из&nbsp;номера, в&nbsp;котором он&nbsp;уже разместился (в&nbsp;случае пребывания гостя в&nbsp;номере
                более 30&nbsp;минут), осуществляется с&nbsp;доплатой за&nbsp;использованный номер (оплата дополнительной
                уборки).<br>
                4.12. Гарантированный ранний заезд возможен при условии бронирования номера с&nbsp;предыдущего
                календарного дня и&nbsp;предоставления гарантии в&nbsp;виде предоплаты или кредитной карты (необходима
                оплата стоимости одних суток проживания в&nbsp;виде платы за&nbsp;фактический простой номера).
                В&nbsp;случае негарантированного раннего заезда номер предоставляется при наличии свободных номеров
                на&nbsp;следующих условиях: - при заселении в&nbsp;Гостиницу с&nbsp;0&nbsp;часов 00&nbsp;минут
                до&nbsp;установленного расчетного часа времени заезда с&nbsp;Потребителя взимается оплата в&nbsp;размере
                стоимости полных суток проживания; - при заселении в&nbsp;Гостиницу после 09.00 часов дня заезда
                дополнительная оплата с&nbsp;Потребителя за&nbsp;ранний заезд не&nbsp;взимается. - Гостиница
                обеспечивает круглосуточное обслуживание гостей, прибывающих в&nbsp;Гостиницу и&nbsp;убывающих
                из&nbsp;Гостиницы.<br>
                4.13. В&nbsp;случае выезда потребителя из&nbsp;номера после расчетного часа времени
                выезда оплата производится следующим образом: - при выезде с&nbsp;13.00 до&nbsp;18.00 оплата взимается
                за&nbsp;половину суток; - при выезде после 18.00 оплата взимается за&nbsp;полные сутки; - при наличии
                свободных номеров Исполнитель оставляет за&nbsp;собой право продления времени выезда до&nbsp;14.00 без
                дополнительной оплаты.<br>
                4.14. Оплата за&nbsp;поздний выезд взимается по&nbsp;тарифу текущих суток (т.е.
                при позднем выезде в&nbsp;пятницу&nbsp;&mdash; по&nbsp;тарифу пятницы, в&nbsp;понедельник&nbsp;&mdash;
                по&nbsp;тарифу понедельника).<br>
                4.15. Размещение потребителей с&nbsp;домашними животными предоставляется
                на&nbsp;усмотрение Исполнителя при предъявлении ветеринарного свидетельства с&nbsp;отметками
                о&nbsp;проведенной вакцинации против бешенства, либо других документов, предусмотренных
                законодательством РФ.<br>
                4.16. Отсутствие вещей потребителя в&nbsp;номере после расчетного часа времени
                выезда является основанием для выписки потребителя из&nbsp;Гостиницы.<br>
                4.17. Продление срока проживания
                потребителя производится только при наличии свободных номеров.<br>
                4.18. Потребители, имеющие при себе любое
                оружие (огнестрельное, травматическое, холодное, метательное, пневматическое, газовое, сигнальное,
                конструктивно сходные с&nbsp;оружием изделия, газовые баллончики, электрошокеры и&nbsp;т.п.,
                а&nbsp;также предметы и&nbsp;вещества, представляющие опасность для окружающих), обязаны устно
                задекларировать его сотрудникам Департамента обеспечения безопасности Исполнителя до&nbsp;прохождения
                через стационарный металлодетектор при входе в&nbsp;здание Гостиницы. Размещение таких потребителей
                в&nbsp;Гостинице осуществляется только при условии согласования с&nbsp;руководством Исполнителя.
            </p>
        </div>
    </div>
</section>