<section class="documents">
    <div class="documents__content">
        <div class="documents__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <span class="documents__breadcrumbs-divider">
                /
            </span>
            <a href="#" class="active">
                Документы и&nbsp;правила
            </a>
        </div>
        <h1 class="h1 documents__heading">
            Документы и правила
        </h1>
        <ul class="documents__list">
            <li class="documents__list-item">
                <a href="#" class="document-card">
                    <img src="/images/documents/1.svg" alt="" class="document-card__icon">
                    <h3 class="h4 document-card__title">
                        Правила предоставления
                        гостиничных услуг
                    </h3>
                    <div class="document-card__btn">
                        Подробнее
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="document-card">
                    <img src="/images/documents/2.svg" alt="" class="document-card__icon">
                    <h3 class="h4 document-card__title">
                        Политика в отношении
                        обработки персональных
                        данных
                    </h3>
                    <div class="document-card__btn">
                        Подробнее
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="document-card">
                    <img src="/images/documents/3.svg" alt="" class="document-card__icon">
                    <h3 class="h4 document-card__title">
                        Правила размещения
                        в Клубном корпусе
                    </h3>
                    <div class="document-card__btn">
                        Подробнее
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="document-card">
                    <img src="/images/documents/4.svg" alt="" class="document-card__icon">
                    <h3 class="h4 document-card__title">
                        Правила размещения
                        в Бизнес корпусе
                    </h3>
                    <div class="document-card__btn">
                        Подробнее
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>