<section class="restaurant-about">
    <div class="restaurant-about__content">
        <div class="restaurant-about__text-content">
            <picture>
                <source srcset="/images/about-pattern-tablet.svg" media="(max-width: 768px)">
                <img src="/images/about-pattern.svg" alt="" class="restaurant-about__pattern">
            </picture>

            <h2 class="h2 restaurant-about__heading">
                Пятизвёздочный отель, расположенный в самом сердце деловой Москвы, на Краснопресненской набережной, в
                составе комплекса
                World Trade Center.
            </h2>
            <a href="#" class="btn btn--small btn--brown restaurant-about__link">
                Провести мероприятие
            </a>
        </div>
        <ul class="restaurant-about__images-list">
            <li class="restaurant-about__images-list-item">
                <div class="restaurant-about__image-card">
                    <img src="/images/event-about/1.webp" alt="">
                </div>
            </li>
            <li class="restaurant-about__images-list-item">
                <div class="restaurant-about__image-card">
                    <img src="/images/event-about/2.webp" alt="">
                </div>
            </li>
        </ul>
    </div>
</section>