<section class="events">
    <div class="events__content">
        <picture>
            <source srcset="/images/events-icon-purple.svg" media="(max-width: 1500px)">
            <img src="/images/events-icon.svg" alt="" class="events__icon">
        </picture>
        <div class="events__subtitle">
            Plaza Garden Moscow wtc – это
        </div>
        <h2 class="h1 events__heading">
            <span>Мероприятия</span>
            <span> в Plaza Garden </span>
        </h2>
        <div class="events__text">
            Идеальное место для мероприятий любого масштаба и формата — в деловом центре столицы, внутри инфраструктуры
            Международного Торгового Центра. Отель предлагает полный спектр услуг для их проведения.
        </div>
        <a href="#" class="btn btn--outline events__link">
            <span class="events__link-large-screen-text">
                Подробнее о нас
            </span>
            <span class="events__link-small-screen-text">
                Подробнее
            </span>
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
        </a>
        <div class="events__slider">
            <div class="events__slider-wrapper">
                <button class="events__slider-arrow events__slider-arrow--prev">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="events__slider-card">
                                <img src="/images/events/1.webp" alt="" class="events__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="events__slider-card">
                                <img src="/images/events/2.webp" alt="" class="events__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="events__slider-card">
                                <img src="/images/events/3.webp" alt="" class="events__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="events__slider-card">
                                <img src="/images/events/4.webp" alt="" class="events__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="events__slider-card">
                                <img src="/images/events/1.webp" alt="" class="events__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="events__slider-card">
                                <img src="/images/events/2.webp" alt="" class="events__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="events__slider-card">
                                <img src="/images/events/3.webp" alt="" class="events__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="events__slider-card">
                                <img src="/images/events/4.webp" alt="" class="events__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="events__slider-arrow events__slider-arrow--next">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="events__card">
                <div class="events__card-title">
                    проведение свадеб в plaza garden
                </div>
                <a href="#" class="btn btn--outline btn--white events__card-link">
                    <span class="events__card-link-large-screen-text">
                        Узнать подробнее
                    </span>
                    <span class="events__card-link-small-screen-text">
                        Подробнее
                    </span>
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#diamond"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>