<section class="faq js-fade-reveal">
    <div class="faq__content">

        <h2 class="h1 faq__heading js-animated-heading">
            Вопрос-ответ
        </h2>
        <ul class="faq__list">
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <button class="h4 faq__accordion-btn" type="button">
                        <span class="faq__accordion-btn-text">
                            Правила предоставления гостиничных услуг
                        </span>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-dropdown-text">
                                <p>
                                    1. Общие положения
                                </p>
                                <p>
                                    Настоящая политика обработки персональных данных составлена в соответствии с
                                    требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и
                                    определяет порядок обработки персональных данных и меры по обеспечению безопасности
                                    персональных данных, предпринимаемые ПАО "ЦМТ" (далее – Оператор).
                                </p>
                                <p>
                                    1.1. Оператор ставит своей важнейшей целью и условием осуществления своей
                                    деятельности
                                    соблюдение прав и свобод человека и гражданина при обработке его персональных
                                    данных, в
                                    том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                                </p>
                                <p>
                                    1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее –
                                    Политика) применяется ко всей информации, которую Оператор может получить о
                                    посетителях
                                    веб-сайта HTTPS://PLAZAGARDEN.RU.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <button class="h4 faq__accordion-btn" type="button">
                        <span class="faq__accordion-btn-text">
                            Политика в отношении обработки персональных данных
                        </span>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-dropdown-text">
                                <p>
                                    1. Общие положения
                                </p>
                                <p>
                                    Настоящая политика обработки персональных данных составлена в соответствии с
                                    требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и
                                    определяет порядок обработки персональных данных и меры по обеспечению безопасности
                                    персональных данных, предпринимаемые ПАО "ЦМТ" (далее – Оператор).
                                </p>
                                <p>
                                    1.1. Оператор ставит своей важнейшей целью и условием осуществления своей
                                    деятельности
                                    соблюдение прав и свобод человека и гражданина при обработке его персональных
                                    данных, в
                                    том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                                </p>
                                <p>
                                    1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее –
                                    Политика) применяется ко всей информации, которую Оператор может получить о
                                    посетителях
                                    веб-сайта HTTPS://PLAZAGARDEN.RU.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <button class="h4 faq__accordion-btn" type="button">
                        <span class="faq__accordion-btn-text">
                            Правила размещения в Клубном корпусе
                        </span>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-dropdown-text">
                                <p>
                                    1. Общие положения
                                </p>
                                <p>
                                    Настоящая политика обработки персональных данных составлена в соответствии с
                                    требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и
                                    определяет порядок обработки персональных данных и меры по обеспечению безопасности
                                    персональных данных, предпринимаемые ПАО "ЦМТ" (далее – Оператор).
                                </p>
                                <p>
                                    1.1. Оператор ставит своей важнейшей целью и условием осуществления своей
                                    деятельности
                                    соблюдение прав и свобод человека и гражданина при обработке его персональных
                                    данных, в
                                    том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                                </p>
                                <p>
                                    1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее –
                                    Политика) применяется ко всей информации, которую Оператор может получить о
                                    посетителях
                                    веб-сайта HTTPS://PLAZAGARDEN.RU.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <button class="h4 faq__accordion-btn" type="button">
                        <span class="faq__accordion-btn-text">
                            Правила размещения в Бизнес корпусе
                        </span>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-dropdown-text">
                                <p>
                                    1. Общие положения
                                </p>
                                <p>
                                    Настоящая политика обработки персональных данных составлена в соответствии с
                                    требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и
                                    определяет порядок обработки персональных данных и меры по обеспечению безопасности
                                    персональных данных, предпринимаемые ПАО "ЦМТ" (далее – Оператор).
                                </p>
                                <p>
                                    1.1. Оператор ставит своей важнейшей целью и условием осуществления своей
                                    деятельности
                                    соблюдение прав и свобод человека и гражданина при обработке его персональных
                                    данных, в
                                    том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                                </p>
                                <p>
                                    1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее –
                                    Политика) применяется ко всей информации, которую Оператор может получить о
                                    посетителях
                                    веб-сайта HTTPS://PLAZAGARDEN.RU.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <button class="h4 faq__accordion-btn" type="button">
                        <span class="faq__accordion-btn-text">
                            Правила размещения в Бизнес корпусе
                        </span>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-dropdown-text">
                                <p>
                                    1. Общие положения
                                </p>
                                <p>
                                    Настоящая политика обработки персональных данных составлена в соответствии с
                                    требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и
                                    определяет порядок обработки персональных данных и меры по обеспечению безопасности
                                    персональных данных, предпринимаемые ПАО "ЦМТ" (далее – Оператор).
                                </p>
                                <p>
                                    1.1. Оператор ставит своей важнейшей целью и условием осуществления своей
                                    деятельности
                                    соблюдение прав и свобод человека и гражданина при обработке его персональных
                                    данных, в
                                    том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                                </p>
                                <p>
                                    1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее –
                                    Политика) применяется ко всей информации, которую Оператор может получить о
                                    посетителях
                                    веб-сайта HTTPS://PLAZAGARDEN.RU.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <a href="#" class="btn btn--outline faq__btn">
            Показать еще
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
        </a>

    </div>
</section>