<section class="faq">
    <div class="faq__content">

        <h2 class="h1 faq__heading">
            Вопрос-ответ
        </h2>
        <ul class="faq__list">
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <button class="h4 faq__accordion-btn" type="button">
                        <span class="faq__accordion-btn-text">
                            Правила предоставления гостиничных услуг
                        </span>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-dropdown-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sit soluta voluptates
                                temporibus minus in aut aspernatur odio assumenda iste.
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <button class="h4 faq__accordion-btn" type="button">
                        <span class="faq__accordion-btn-text">
                            Политика в отношении обработки персональных данных
                        </span>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-dropdown-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sit soluta voluptates
                                temporibus minus in aut aspernatur odio assumenda iste.
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <button class="h4 faq__accordion-btn" type="button">
                        <span class="faq__accordion-btn-text">
                            Правила размещения в Клубном корпусе
                        </span>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-dropdown-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sit soluta voluptates
                                temporibus minus in aut aspernatur odio assumenda iste.
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <button class="h4 faq__accordion-btn" type="button">
                        <span class="faq__accordion-btn-text">
                            Правила размещения в Бизнес корпусе
                        </span>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-dropdown-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sit soluta voluptates
                                temporibus minus in aut aspernatur odio assumenda iste.
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <button class="h4 faq__accordion-btn" type="button">
                        <span class="faq__accordion-btn-text">
                            Правила размещения в Бизнес корпусе
                        </span>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-dropdown-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sit soluta voluptates
                                temporibus minus in aut aspernatur odio assumenda iste.
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <a href="#" class="btn btn--outline faq__btn">
            Показать еще
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
        </a>

    </div>
</section>