<div class="features">
    <div class="features__content">
        <div class="features__top">
            <h2 class="h2 features__heading">
                Отель является частью большого комплекса — Центр международной торговли, где под одной крышей собрана
                вся
                необходимая инфраструктура
            </h2>
            <div class="features__text">
                У наших гостей есть уникальная возможность, не выходя на улицу, обеспечить свой эффективный рабочий день
                или комфортный отдых.
            </div>
        </div>
        <div class="features__bottom">
            <div class="features__bg">
                <picture>
                    <source srcset="/images/features/mobile.webp" media="(max-width: 576px)">
                    <source srcset="/images/features/tablet.webp" media="(max-width: 1024px)">
                    <source srcset="/images/features/laptop.webp" media="(max-width: 1500px)">
                    <img src="/images/features/desktop.webp" alt="" class="features__bg-image">
                </picture>
            </div>
            <div class="features__bottom-content">
                <h3 class="h4 features__bottom-title">
                    На территории комплекса предоставляется более 500 услуг, среди которых гости отеля могут найти всё
                    необходимое
                    для бизнеса и путешествий:
                </h3>
                <div class="features__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="features__slider-card">
                                    <h4 class="features__slider-card-title">
                                        множество ресторанов
                                        и магазинов не выходя
                                        с территории
                                    </h4>
                                    <div class="features__slider-card-icon">
                                        <img src="/images/features/icons/1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="features__slider-card">
                                    <h4 class="features__slider-card-title">
                                        бесплатная парковка на территории отеля для проживающих гостей
                                    </h4>
                                    <div class="features__slider-card-icon">
                                        <img src="/images/features/icons/2.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="features__slider-card">
                                    <h4 class="features__slider-card-title">
                                        фитнес-центр и бассейн (бесплатно для проживающих в клубном корпусе)
                                    </h4>
                                    <div class="features__slider-card-icon">
                                        <img src="/images/features/icons/3.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="features__slider-card">
                                    <h4 class="features__slider-card-title">
                                        изысканные блюда в точках питания, рестораны
                                    </h4>
                                    <div class="features__slider-card-icon">
                                        <img src="/images/features/icons/4.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="features__slider-card">
                                    <h4 class="features__slider-card-title">
                                        круглосуточный рум-сервис и высокие стандарты безопасности
                                    </h4>
                                    <div class="features__slider-card-icon">
                                        <img src="/images/features/icons/5.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="features__slider-card">
                                    <h4 class="features__slider-card-title">
                                        высокоскоростной Wi-Fi
                                    </h4>
                                    <div class="features__slider-card-icon">
                                        <img src="/images/features/icons/6.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>