<section class="fitness">
    <div class="fitness__bg">
        <img src="/images/fitness.webp" alt="" class="fitness__bg-image">
    </div>
    <div class="fitness__content">
        <div class="fitness__card">
            <div class="fitness__card-title">
                фитнес-центр и бассейн (бесплатны для проживающих
                в клубном корпусе)
            </div>
            <div class="fitness__card-icon">
                <img src="/images/fitness-icon.svg" alt="">
            </div>
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
        </div>
        <div class="fitness__bottom-row">
            <div class="fitness__text">
                Гостям отеля Plaza Garden Moscow WTC предоставляется возможность посещения партнерского спортивного
                центра WTC FITNESS
            </div>
            <h2 class="h1 fitness__heading">
                Фитнес центр<br>
                в Plaza Garden
            </h2>
        </div>
    </div>
</section>