<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__first-row">
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
            <span class="page-footer__top-line"></span>
            <a href="/" class="page-footer__logo">
                <img src="/images/footer-logo.svg" alt="Лого" class="page-footer__logo-image" width="164">
            </a>
            <span class="page-footer__top-line"></span>
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
        </div>
        <div class="page-footer__second-row">
            <div class="page-footer__nav">
                <div class="page-footer__nav-col">
                    <div class="page-footer__nav-group">
                        <a href="#" class="page-footer__nav-link">
                            о нас
                        </a>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Об отеле
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    услуги
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Документы и правила
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    3д туры
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Программа лояльности
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-footer__nav-col">
                    <div class="page-footer__nav-group">
                        <a href="#" class="page-footer__nav-link">
                            проживание
                        </a>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    бизнес корпус
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    семейный корпус
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-footer__nav-col">
                    <div class="page-footer__nav-group">
                        <a href="#" class="page-footer__nav-link">
                            мероприятия
                        </a>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Mice
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    свадьбы
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-footer__nav-col">
                    <div class="page-footer__nav-group">
                        <a href="#" class="page-footer__nav-link">
                            Спецпредложения
                        </a>
                    </div>
                    <div class="page-footer__nav-group">
                        <a href="#" class="page-footer__nav-link">
                            Рестораны и бары
                        </a>
                    </div>
                    <div class="page-footer__nav-group">
                        <a href="#" class="page-footer__nav-link">
                            Контакты
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-footer__second-row-wrapper">
                <a href="#" class="btn page-footer__book-btn">
                    Забронировать
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#diamond"></use>
                    </svg>
                </a>
                <div class="page-footer__social">
                    <ul class="page-footer__social-list">
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="12" height="12" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="12" height="12" aria-hidden="true">
                                    <use xlink:href="#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-footer__third-row">
            <div class="page-footer__address">
                <div class="page-footer__address-title">
                    адрес:
                </div>
                <div class="page-footer__address-text">
                    г. Москва, Краснопресненская наб., д.12
                </div>
                <a href="#" class="page-footer__address-link">
                    построить маршрут
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#small-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="page-footer__schedule">
                <div class="page-footer__schedule-title">
                    Время работы:
                </div>
                <div class="page-footer__schedule-text">
                    круглосуточно
                </div>
            </div>
            <div class="page-footer__contacts">
                <div class="page-footer__contacts-title">
                    Контакты для связи:
                </div>
                <div class="page-footer__contacts-phone-wrapper">
                    <a href="tel:+74952582122" class="page-footer__contacts-phone">+7 (495) 258-21-22</a>
                    <div class="page-footer__contacts-phone-title">
                        отдел бронирования
                    </div>
                </div>
                <a href="mailto:plazareservations@plazagarden.ru"
                    class="page-footer__contacts-email">plazareservations@plazagarden.ru</a>
            </div>
        </div>
        <div class="page-footer__fourth-row">
            <div class="page-footer__copyright">
                © 2025, ПАО ЦМТ<br>
                Номер реестровой записи: C772024008777
            </div>
            <a href="#" class="page-footer__policy">
                Политика конфиденциальности
            </a>
            <a href="#" class="page-footer__made-by">
                <img src="/images/creative-team.svg" alt="" class="page-footer__made-by-logo">
            </a>
        </div>

    </div>
</footer>