<section class="formats">
    <div class="formats__content">
        <div class="formats__top">
            <h2 class="h2 formats__heading js-animated-heading">
                Предоставляем залы различных форматов
            </h2>
            <div class="formats__text">
                Банкет для 150 гостей или фуршет для самых близких друзей? Фотосессия в роскошных интерьерах, ужин в
                стиле сдержанной классики или выездная церемония на фоне урбанистического пейзажа? Мы предлагаем
                различные локации, среди которых каждая невеста или жених найдут лучшее место для самого важного дня.
            </div>
        </div>
        <div class="formats__slider">
            <button class="formats__slider-arrow formats__slider-arrow--prev">
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hall-card">
                            <div class="hall-card__image-container">
                                <img src="/images/halls/1.webp" alt="" class="hall-card__image">
                            </div>
                            <div class="hall-card__content">
                                <h3 class="h4 hall-card__card-title">
                                    City Lounge
                                </h3>
                                <ul class="hall-card__card-features-list">
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Вместительность
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                300 персон
                                            </div>
                                        </div>
                                    </li>
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Общая площадь
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                495 м2
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="hall-card__card-btns">
                                    <a href="#" class="hall-card__card-filled-btn">
                                        Забронировать зал
                                    </a>
                                    <a href="#" class="hall-card__card-outline-btn">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hall-card">
                            <div class="hall-card__image-container">
                                <img src="/images/halls/2.webp" alt="" class="hall-card__image">
                            </div>
                            <div class="hall-card__content">
                                <h3 class="h4 hall-card__card-title">
                                    Premier Lounge
                                </h3>
                                <ul class="hall-card__card-features-list">
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Вместительность
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                300 персон
                                            </div>
                                        </div>
                                    </li>
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Общая площадь
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                495 м2
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="hall-card__card-btns">
                                    <a href="#" class="hall-card__card-filled-btn">
                                        Забронировать зал
                                    </a>
                                    <a href="#" class="hall-card__card-outline-btn">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hall-card">
                            <div class="hall-card__image-container">
                                <img src="/images/halls/3.webp" alt="" class="hall-card__image">
                            </div>
                            <div class="hall-card__content">
                                <h3 class="h4 hall-card__card-title">
                                    Queens Lounge
                                </h3>
                                <ul class="hall-card__card-features-list">
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Вместительность
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                300 персон
                                            </div>
                                        </div>
                                    </li>
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Общая площадь
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                495 м2
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="hall-card__card-btns">
                                    <a href="#" class="hall-card__card-filled-btn">
                                        Забронировать зал
                                    </a>
                                    <a href="#" class="hall-card__card-outline-btn">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="formats__slider-arrow formats__slider-arrow--next">
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>