<section class="hall-advantages">
    <div class="hall-advantages__content">
        <picture>
            <source srcset="/images/hall-advantages-pattern-tablet.svg" media="(max-width: 1024px)">
            <img src="/images/hall-advantages-pattern.svg" alt="" class="hall-advantages__pattern">
        </picture>
        <h2 class="h1 hall-advantages__heading">
            Преимущества зала<br>
            City Lounge
        </h2>
        <div class="hall-advantages__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hall-advantages__slider-card">
                            <h3 class="hall-advantages__slider-card-title">
                                Барная стойка для фуршетной зоны
                            </h3>
                            <div class="hall-advantages__slider-card-icon">
                                <img src="/images/hall-advantages-icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hall-advantages__slider-card">
                            <h3 class="hall-advantages__slider-card-title">
                                Уникальный вид на Москва-Сити с высоты 20 этажа
                            </h3>
                            <div class="hall-advantages__slider-card-icon">
                                <img src="/images/hall-advantages-icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hall-advantages__slider-card">
                            <h3 class="hall-advantages__slider-card-title">
                                Панорамное остекление
                                и дневной свет
                                с возможностью полного затемнения
                            </h3>
                            <div class="hall-advantages__slider-card-icon">
                                <img src="/images/hall-advantages-icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hall-advantages__slider-card">
                            <h3 class="hall-advantages__slider-card-title">
                                Индивидуальный климат-контроль и профессиональное оборудование
                            </h3>
                            <div class="hall-advantages__slider-card-icon">
                                <img src="/images/hall-advantages-icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="hall-advantages__gallery-list">
            <li class="hall-advantages__gallery-list-item">
                <div class="hall-advantages__gallery-card">
                    <img src="/images/hall-advantages/1.webp" alt="" class="hall-advantages__gallery-card-image">
                </div>
            </li>
            <li class="hall-advantages__gallery-list-item">
                <div class="hall-advantages__gallery-card">
                    <img src="/images/hall-advantages/2.webp" alt="" class="hall-advantages__gallery-card-image">
                </div>
            </li>
        </ul>
    </div>
</section>