<section class="halls">
    <div class="halls__content">
        <h2 class="h1 halls__heading js-animated-heading">
            Залы
        </h2>
        <div class="halls__text">
            Отель Plaza Garden Moscow WTC - современная, профессионально оборудованная площадка для мероприятий
            различного формата. К услугам гостей 7 залов, в том числе располагающихся на 20-м этаже с панорамными видами
            на Москву. Профессиональные менеджеры позаботятся о каждой детали вашего мероприятия, будь то небольшая
            деловая встреча или грандиозное семейное торжество.
        </div>
        <ul class="halls__list">
            <li class="halls__list-item">
                <div class="hall-card">
                    <div class="hall-card__image-container">
                        <img src="/images/halls/1.webp" alt="" class="hall-card__image">
                    </div>
                    <div class="hall-card__content">
                        <h3 class="h4 hall-card__card-title">
                            City Lounge
                        </h3>
                        <ul class="hall-card__card-features-list">
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Вместительность
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        300 персон
                                    </div>
                                </div>
                            </li>
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Общая площадь
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        495 м2
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="hall-card__card-btns">
                            <a href="#" class="hall-card__card-filled-btn">
                                Забронировать зал
                            </a>
                            <a href="#" class="hall-card__card-outline-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="halls__list-item">
                <div class="hall-card">
                    <div class="hall-card__image-container">
                        <img src="/images/halls/2.webp" alt="" class="hall-card__image">
                    </div>
                    <div class="hall-card__content">
                        <h3 class="h4 hall-card__card-title">
                            Premier Lounge
                        </h3>
                        <ul class="hall-card__card-features-list">
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Вместительность
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        300 персон
                                    </div>
                                </div>
                            </li>
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Общая площадь
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        495 м2
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="hall-card__card-btns">
                            <a href="#" class="hall-card__card-filled-btn">
                                Забронировать зал
                            </a>
                            <a href="#" class="hall-card__card-outline-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="halls__list-item">
                <div class="hall-card">
                    <div class="hall-card__image-container">
                        <img src="/images/halls/3.webp" alt="" class="hall-card__image">
                    </div>
                    <div class="hall-card__content">
                        <h3 class="h4 hall-card__card-title">
                            Queens Lounge
                        </h3>
                        <ul class="hall-card__card-features-list">
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Вместительность
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        300 персон
                                    </div>
                                </div>
                            </li>
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Общая площадь
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        495 м2
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="hall-card__card-btns">
                            <a href="#" class="hall-card__card-filled-btn">
                                Забронировать зал
                            </a>
                            <a href="#" class="hall-card__card-outline-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="halls__list-item">
                <div class="hall-card">
                    <div class="hall-card__image-container">
                        <img src="/images/halls/4.webp" alt="" class="hall-card__image">
                    </div>
                    <div class="hall-card__content">
                        <h3 class="h4 hall-card__card-title">
                            Private Lounge
                        </h3>
                        <ul class="hall-card__card-features-list">
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Вместительность
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        10 персон
                                    </div>
                                </div>
                            </li>
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Общая площадь
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        30 м2
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="hall-card__card-btns">
                            <a href="#" class="hall-card__card-filled-btn">
                                Забронировать зал
                            </a>
                            <a href="#" class="hall-card__card-outline-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="halls__list-item">
                <div class="hall-card">
                    <div class="hall-card__image-container">
                        <img src="/images/halls/5.webp" alt="" class="hall-card__image">
                    </div>
                    <div class="hall-card__content">
                        <h3 class="h4 hall-card__card-title">
                            Oxford
                        </h3>
                        <ul class="hall-card__card-features-list">
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Вместительность
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        100 персон
                                    </div>
                                </div>
                            </li>
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Общая площадь
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        170 м2
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="hall-card__card-btns">
                            <a href="#" class="hall-card__card-filled-btn">
                                Забронировать зал
                            </a>
                            <a href="#" class="hall-card__card-outline-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="halls__list-item">
                <div class="hall-card">
                    <div class="hall-card__image-container">
                        <img src="/images/halls/6.webp" alt="" class="hall-card__image">
                    </div>
                    <div class="hall-card__content">
                        <h3 class="h4 hall-card__card-title">
                            Cambridge
                        </h3>
                        <ul class="hall-card__card-features-list">
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Вместительность
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        40 персон
                                    </div>
                                </div>
                            </li>
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Общая площадь
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        40 м2
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="hall-card__card-btns">
                            <a href="#" class="hall-card__card-filled-btn">
                                Забронировать зал
                            </a>
                            <a href="#" class="hall-card__card-outline-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="halls__list-item">
                <div class="hall-card">
                    <div class="hall-card__image-container">
                        <img src="/images/halls/7.webp" alt="" class="hall-card__image">
                    </div>
                    <div class="hall-card__content">
                        <h3 class="h4 hall-card__card-title">
                            Coventry
                        </h3>
                        <ul class="hall-card__card-features-list">
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Вместительность
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        40 персон
                                    </div>
                                </div>
                            </li>
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Общая площадь
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        40 м2
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="hall-card__card-btns">
                            <a href="#" class="hall-card__card-filled-btn">
                                Забронировать зал
                            </a>
                            <a href="#" class="hall-card__card-outline-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="halls__list-item">
                <div class="hall-card">
                    <div class="hall-card__image-container">
                        <img src="/images/halls/8.webp" alt="" class="hall-card__image">
                    </div>
                    <div class="hall-card__content">
                        <h3 class="h4 hall-card__card-title">
                            Континенталь
                        </h3>
                        <ul class="hall-card__card-features-list">
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Вместительность
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        150 персон
                                    </div>
                                </div>
                            </li>
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Общая площадь
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        377 м2
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="hall-card__card-btns">
                            <a href="#" class="hall-card__card-filled-btn">
                                Забронировать зал
                            </a>
                            <a href="#" class="hall-card__card-outline-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="halls__list-item">
                <div class="hall-card">
                    <div class="hall-card__image-container">
                        <img src="/images/halls/9.webp" alt="" class="hall-card__image">
                    </div>
                    <div class="hall-card__content">
                        <h3 class="h4 hall-card__card-title">
                            Конгресс-центр
                        </h3>
                        <ul class="hall-card__card-features-list">
                            <li class="hall-card__card-features-list-item">
                                <div class="hall-card__card-features-card">
                                    <div class="hall-card__card-features-card-key">
                                        Вместительность
                                    </div>
                                    <div class="hall-card__card-features-card-value">
                                        1 500 персон
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="hall-card__card-btns">
                            <a href="#" class="hall-card__card-filled-btn">
                                Забронировать зал
                            </a>
                            <a href="#" class="hall-card__card-outline-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>