<section class="restaurant-about">
    <div class="restaurant-about__content">
        <div class="restaurant-about__text-content">
            <picture>
                <source srcset="/images/about-pattern-tablet.svg" media="(max-width: 768px)">
                <img src="/images/about-pattern.svg" alt="" class="restaurant-about__pattern">
            </picture>



            <h2 class="h2 restaurant-about__heading">
                City Lounge – самый большой из VIP-залов отеля Plaza Garden Moscow WTC.
            </h2>
            <div class="restaurant-about__text">
                Благодаря сдержанному дизайну, многофункциональному зонированию и уникальному панорамному виду на
                бизнес-сердце столицы, в дневное время он идеально подходит для организации переговоров и встреч на
                высшем уровне, тогда как вечером становится прекрасной локацией для проведения фуршетов, камерных
                банкетов, презентаций и других мероприятий.
            </div>
            <div class="restaurant-about__hall-btns">
                <a href="#" class="restaurant-about__hall-filled-btn">
                    Забронировать зал
                </a>
                <a href="#" class="restaurant-about__hall-outline-btn">
                    Скачать схему зала
                </a>
            </div>
        </div>
        <div class="restaurant-about__hall-plan">
            <img src="/images/hall-plan.webp" alt="" class="restaurant-about__hall-plan-image">
        </div>

    </div>
</section>