<header class="page-header">
    <div class="page-header__content">
        <a href="#" class="page-header__logo">
            <img src="/images/header-logo.svg" alt="" class="page-header__logo-image">
        </a>
        <nav class="page-header__nav">
            <ul class="page-header__nav-list">
                <li class="page-header__nav-list-item page-header__nav-list-item--highlighted">
                    <a href="#" class="page-header__nav-link">
                        Бизнес корпус
                    </a>
                </li>
                <li class="page-header__nav-list-item page-header__nav-list-item--highlighted">
                    <a href="#" class="page-header__nav-link">
                        Клубный корпус
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Проживание
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Мероприятия
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Рестораны и бары
                    </a>
                </li>
            </ul>
        </nav>
        <div class="page-header__btns">
            <a href="#" class="page-header__login">
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#user"></use>
                </svg>
                <span>
                    Войти
                </span>
            </a>
            <a href="tel:+74952582222" class="page-header__phone">
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#phone"></use>
                </svg>
                <span>
                    +7 495 258 22 22
                </span>
            </a>
            <a href="#" class="page-header__book-btn">
                Забронировать
            </a>
            <button class="page-header__burger js-menu-open">
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#burger"></use>
                </svg>
            </button>
        </div>
    </div>
</header>