<section class="history">
    <div class="history__content">
        <div class="history__row">
            <div class="history__left-col">
                <div class="history__bg">
                    <div class="history__bg-wrapper">

                    </div>
                </div>
                <div class="history__wrapper">
                    <h1 class="h1 history__heading">
                        История
                        Plaza Garden
                    </h1>
                    <a href="#history-modal" class="btn btn--white btn--outline history__link">
                        Читать подробнее
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#diamond"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="history__right-col">
                <div class="history__image-container">
                    <picture>
                        <source srcset="/images/history/mobile.webp" media="(max-width: 576px)">
                        <source srcset="/images/history/tablet.webp" media="(max-width: 768px)">
                        <source srcset="/images/history/laptop.webp" media="(max-width: 1500px)">
                        <img src="/images/history/desktop.webp" alt="" class="history__image">
                    </picture>
                </div>
            </div>
        </div>
    </div>
    <div class="history__modal js-modal" id="history-modal">
        <div class="history__modal-inner">
            <div class="history__modal-row">
                <div class="history__modal-left-col">
                    <div class="history__modal-top-row">
                        <h3 class="h4 history__modal-title">
                            История<br>
                            Plaza Garden
                        </h3>
                        <div class="history__modal-navigation">
                            <ul class="history__modal-navigation-list">
                                <li class="history__modal-navigation-list-item">
                                    <a href="#" class="history__modal-navigation-link active">
                                        1980
                                        <svg width="12" height="12" aria-hidden="true">
                                            <use xlink:href="#diamond"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="history__modal-navigation-list-item">
                                    <a href="#" class="history__modal-navigation-link">
                                        2005–2007
                                        <svg width="12" height="12" aria-hidden="true">
                                            <use xlink:href="#diamond"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="history__modal-navigation-list-item">
                                    <a href="#" class="history__modal-navigation-link">
                                        2011
                                        <svg width="12" height="12" aria-hidden="true">
                                            <use xlink:href="#diamond"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="history__modal-navigation-list-item">
                                    <a href="#" class="history__modal-navigation-link">
                                        2018
                                        <svg width="12" height="12" aria-hidden="true">
                                            <use xlink:href="#diamond"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="history__modal-navigation-list-item">
                                    <a href="#" class="history__modal-navigation-link">
                                        2022
                                        <svg width="12" height="12" aria-hidden="true">
                                            <use xlink:href="#diamond"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button class="history__modal-close js-modal-close" type="button">
                            <svg width="15" height="15" viewBox="0 0 15 15">
                                <path
                                    d="M4.45956 3.54044L7.50001 6.58089L10.5405 3.54044L11.4596 4.45955L8.41911 7.5L11.4596 10.5404L10.5405 11.4596L7.50001 8.41911L4.45956 11.4596L3.54045 10.5404L6.5809 7.5L3.54045 4.45955L4.45956 3.54044Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="history__modal-text-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="history__modal-text-slider-card">
                                        <div class="history__modal-text-slider-card-year">
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#diamond"></use>
                                            </svg>
                                            1980
                                        </div>
                                        <div class="history__modal-text-slider-card-content">
                                            <div class="history__modal-text-slider-card-name">
                                                зарождение легенды
                                            </div>
                                            <div class="h4 history__modal-text-slider-card-large-heading">
                                                В середине 2000-х Москва испытывала острую потребность
                                                в отелях бизнес-класса.
                                            </div>
                                            <div class="history__modal-text-slider-card-text">
                                                <p>
                                                    Это здание, возведенное в эпоху советского модернизма, изначально
                                                    задумывалось как место для деловых встреч и международных
                                                    переговоров.
                                                    Его архитектурная значимость и удачное расположение в
                                                    комплексе Московского Всемирного Торгового Центра (МВТЦ) сделали его
                                                    важной точкой на карте города.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="history__modal-text-slider-card-image-container">
                                            <img src="/images/history-modal/1.webp" alt=""
                                                class="history__modal-text-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__modal-text-slider-card">
                                        <div class="history__modal-text-slider-card-year">
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#diamond"></use>
                                            </svg>
                                            2005–2007
                                        </div>
                                        <div class="history__modal-text-slider-card-content">
                                            <div class="history__modal-text-slider-card-name">
                                                Вхождение в мировую гостиничную сеть
                                            </div>
                                            <div class="h4 history__modal-text-slider-card-large-heading">
                                                В середине 2000-х Москва испытывала острую потребность
                                                в отелях бизнес-класса.
                                            </div>
                                            <div class="history__modal-text-slider-card-text">
                                                <p>
                                                    Управление осталось в руках российских специалистов, что позволило
                                                    сохранить индивидуальность отеля, сочетая мировой стандарт качества
                                                    с глубоким пониманием местного рынка.
                                                </p>
                                                <div class="history__modal-text-slider-card-text-two-column">
                                                    <p>
                                                        Центр Международной Торговли (ЦМТ) принял стратегическое решение
                                                        модернизировать гостиницу «Международная», введя ее в престижную
                                                        сеть InterContinental Hotels Group (IHG).
                                                    </p>
                                                    <p>
                                                        Инвестиции в обновление превысили
                                                        20 млн долларов, и в 2007 году отель открылся под новым
                                                        брендом Crowne Plaza Moscow WTC, предлагая 575 номеров и сервис
                                                        международного уровня.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="history__modal-text-slider-card-image-container">
                                            <img src="/images/history-modal/2.webp" alt=""
                                                class="history__modal-text-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__modal-text-slider-card">
                                        <div class="history__modal-text-slider-card-year">
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#diamond"></use>
                                            </svg>
                                            2011
                                        </div>
                                        <div class="history__modal-text-slider-card-content">
                                            <div class="history__modal-text-slider-card-name">
                                                зарождение легенды
                                            </div>
                                            <div class="h4 history__modal-text-slider-card-large-heading">
                                                В марте 2011 года состоялось открытие 20-этажного Клубного корпуса Plaza
                                                Garden Moscow - World Trade Centre, добавившего 149 номеров
                                                премиум-класса.
                                            </div>
                                            <div class="history__modal-text-slider-card-text">
                                                <p>
                                                    Теперь в корпусе три категории повышенного комфорта: Клубный номер,
                                                    Клубный Студио и роскошный трехкомнатный Посольский Люкс
                                                </p>

                                            </div>
                                        </div>
                                        <div class="history__modal-text-slider-card-image-container">
                                            <img src="/images/history-modal/3.webp" alt=""
                                                class="history__modal-text-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__modal-text-slider-card">
                                        <div class="history__modal-text-slider-card-year">
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#diamond"></use>
                                            </svg>
                                            2018
                                        </div>
                                        <div class="history__modal-text-slider-card-content">
                                            <div class="history__modal-text-slider-card-name">
                                                зарождение легенды
                                            </div>
                                            <div class="h4 history__modal-text-slider-card-large-heading">
                                                В 2018 году завершилась масштабная реконструкция
                                                исторического Бизнес-корпуса, позволившая гармонично объединить
                                                архитектурное наследие 1980-х с технологиями XXI века.
                                            </div>
                                            <div class="history__modal-text-slider-card-text">
                                                <p>
                                                    Номера были полностью обновлены, появились:
                                                </p>
                                                <ul>
                                                    <li>
                                                        Современные Бизнес-номера,
                                                    </li>
                                                    <li>
                                                        Просторные Студио,
                                                    </li>
                                                    <li>
                                                        Двухкомнатные Люксы,
                                                    </li>
                                                    <li>
                                                        Эксклюзивный двухуровневый Президентский Люкс с итальянским
                                                        дизайном.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="history__modal-text-slider-card-image-container">
                                            <img src="/images/history-modal/4.webp" alt=""
                                                class="history__modal-text-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__modal-text-slider-card">
                                        <div class="history__modal-text-slider-card-year">
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#diamond"></use>
                                            </svg>
                                            2022
                                        </div>
                                        <div class="history__modal-text-slider-card-content">
                                            <div class="history__modal-text-slider-card-name">
                                                зарождение легенды
                                            </div>
                                            <div class="h4 history__modal-text-slider-card-large-heading">
                                                В июле 2022 года, в связи с новыми условиями работы и уходом с
                                                российского рынка британской фирмы IHG Hotels & Resorts (IHG), по
                                                решению Совета директоров ЦМТ Crowne Plaza Moscow WTC сменила название
                                                на Plaza Garden Moscow WTC.
                                            </div>
                                            <div class="history__modal-text-slider-card-text">
                                                <p>
                                                    Гостиница начала новую главу своей многолетней истории с
                                                    переосмысления бизнеса, при сохранении международного уровня сервиса
                                                    и традиционного российского гостеприимства
                                                </p>
                                            </div>
                                        </div>
                                        <div class="history__modal-text-slider-card-image-container">
                                            <img src="/images/history-modal/5.webp" alt=""
                                                class="history__modal-text-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="history__modal-arrows">
                        <button class="history__modal-arrow history__modal-arrow--prev">
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="history__modal-arrow history__modal-arrow--next">
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="history__modal-right-col">
                    <div class="history__modal-images-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="history__modal-images-slider-card">
                                        <img src="/images/history-modal/1.webp" alt=""
                                            class="history__modal-images-slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__modal-images-slider-card">
                                        <img src="/images/history-modal/2.webp" alt=""
                                            class="history__modal-images-slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__modal-images-slider-card">
                                        <img src="/images/history-modal/3.webp" alt=""
                                            class="history__modal-images-slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__modal-images-slider-card">
                                        <img src="/images/history-modal/4.webp" alt=""
                                            class="history__modal-images-slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__modal-images-slider-card">
                                        <img src="/images/history-modal/5.webp" alt=""
                                            class="history__modal-images-slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>