<section class="history">
    <div class="history__content">
        <div class="history__row">
            <div class="history__left-col">
                <div class="history__bg">
                    <div class="history__bg-wrapper">

                    </div>
                </div>
                <div class="history__wrapper">
                    <h1 class="h1 history__heading">
                        История
                        Plaza Garden
                    </h1>
                    <a href="#" class="btn btn--white btn--outline history__link">
                        Читать подробнее
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#diamond"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="history__right-col">
                <div class="history__image-container">
                    <picture>
                        <source srcset="/images/history/mobile.webp" media="(max-width: 576px)">
                        <source srcset="/images/history/tablet.webp" media="(max-width: 768px)">
                        <source srcset="/images/history/laptop.webp" media="(max-width: 1500px)">
                        <img src="/images/history/desktop.webp" alt="" class="history__image">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>