<section class="hotel-about">
    <div class="hotel-about__content">
        <h2 class="h2 hotel-about__heading">
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
            <b>Plaza Garden Moscow WTC 5*</b> находится
            в самой динамичной точке на карте Москвы
            — на живописной Краснопресненской набережной
            в шаговой доступности от делового сердца столицы - Москва-Сити.
        </h2>
        <div class="hotel-about__row">
            <div class="hotel-about__left-col">
                <div class="hotel-about__blocks">
                    <picture>
                        <source srcset="/images/hotel-about/blocks/mobile.webp" media="(max-width: 576px)">
                        <source srcset="/images/hotel-about/blocks/tablet.webp" media="(max-width: 1024px)">
                        <source srcset="/images/hotel-about/blocks/laptop.webp" media="(max-width: 1500px)">
                        <img src="/images/hotel-about/blocks/desktop.webp" alt="" class="hotel-about__blocks-image">
                    </picture>
                    <div class="hotel-about__block-card">
                        <div class="hotel-about__block-card-title">
                            клубный<br>
                            корпус
                        </div>
                        <div class="hotel-about__block-card-amount">
                            149
                        </div>
                        <div class="hotel-about__block-card-units">
                            номеров
                        </div>
                    </div>
                    <div class="hotel-about__block-card">
                        <div class="hotel-about__block-card-title">
                            бизнес<br>
                            корпус
                        </div>
                        <div class="hotel-about__block-card-amount">
                            231
                        </div>
                        <div class="hotel-about__block-card-units">
                            номер
                        </div>
                    </div>
                </div>
                <div class="hotel-about__image-container">
                    <img src="/images/hotel-about/image.webp" alt="" class="hotel-about__image">
                </div>
            </div>
            <div class="hotel-about__right-col">
                <div class="hotel-about__text">
                    <p>
                        Уникальность нашего расположения в идеальном балансе: вы наслаждаетесь энергией делового
                        мегаполиса (Москва-Сити, Национальный центр «Россия», ТРЦ Афимолл), но в то же время можете
                        уединиться для прогулок в уютной парковой зоне или на набережной Москвы-реки. Расположение
                        прекрасно подходит как для гостей, приехавших в деловую поездку, так и для отдыха с семьей.
                    </p>
                    <p>
                        Наша философия основана на гармонии международных стандартов гостеприимства и индивидуального
                        подхода. Мы гарантируем высочайший уровень безопасности и безупречный сервис, где каждая деталь
                        продумана.
                    </p>
                </div>
                <div class="hotel-about__awards">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="hotel-about__awards-card">
                                    <img src="/images/hotel-about/awards/1.webp" alt=""
                                        class="hotel-about__awards-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-about__awards-card">
                                    <img src="/images/hotel-about/awards/2.webp" alt=""
                                        class="hotel-about__awards-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-about__awards-card">
                                    <img src="/images/hotel-about/awards/3.webp" alt=""
                                        class="hotel-about__awards-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-about__awards-card">
                                    <img src="/images/hotel-about/awards/4.webp" alt=""
                                        class="hotel-about__awards-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>