<section class="hotel-intro">
    <div class="hotel-intro__bg">
        <picture>
            <source srcset="/images/hotel-intro/mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/hotel-intro/tablet.webp" media="(max-width: 768px)">
            <source srcset="/images/hotel-intro/laptop.webp" media="(max-width: 1500px)">
            <img src="/images/hotel-intro/desktop.webp" alt="" class="hotel-intro__image">
        </picture>
    </div>
    <div class="hotel-intro__content">
        <div class="hotel-intro__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <span class="hotel-intro__breadcrumbs-divider">
                /
            </span>
            <a href="#">
                О нас
            </a>
        </div>
        <h1 class="h1 hotel-intro__heading">
            <span>Plaza Garden</span><br>
            –&nbsp;искусство безупречного<br> <span>гостеприимства</span>
        </h1>
        <div class="hotel-intro__booking-form">
            {{> booking-form }}
        </div>
    </div>
</section>