<section class="in-room">
    <div class="in-room__content">
        <a href="#" class="in-room__tour">
            <picture>
                <source srcset="/images/tour-mobile.webp" media="(max-width: 576px)">
                <source srcset="/images/tour-tablet.webp" media="(max-width: 768px)">
                <source srcset="/images/tour-laptop.webp" media="(max-width: 1500px)">
                <img src="/images/tour.webp" alt="" class="in-room__tour-image">
            </picture>
            <div class="in-room__tour-btn">
                Начать 3D тур по залу
            </div>
        </a>
    </div>
</section>