<section class="in-room">
    <div class="in-room__content">
        <h2 class="h1 in-room__heading js-animated-heading">
            <b>Удобства</b> в номере
        </h2>
        <ul class="in-room__list">
            <li class="in-room__list-item">
                <div class="in-room__card">
                    <h3 class="h2 in-room__card-title">
                        Преимущества
                    </h3>
                    <div class="in-room__card-text">
                        Электронный сейф, Мини-бар и набор для приготовления чая и кофе, Оборудованная кухня, Столовая с
                        инкрустированным столом
                    </div>
                </div>
            </li>
            <li class="in-room__list-item">
                <div class="in-room__card">
                    <h3 class="h2 in-room__card-title">
                        Ванна и душ
                    </h3>
                    <div class="in-room__card-text">
                        Cантехника французского бренда, 2 ванные комнаты с ванными, Гостевой санузел, Фен, Халаты,
                        полотенца, тапочки премиального уровня, Парфюмерия для ванн бренда Molton Browne, Гигиенические
                        принадлежности, Косметическое зеркало
                    </div>
                </div>
            </li>
            <li class="in-room__list-item">
                <div class="in-room__card">
                    <h3 class="h2 in-room__card-title">
                        Удобства
                    </h3>
                    <div class="in-room__card-text">
                        Две спальни с кроватями King-size, Доступ в Лаунж Клубного корпуса, Посещение WTC Fitness,
                        Cистема климат-контроля, АТС с возможность разведения звонков по номеру, Дизайнерская мебель
                        Francesco Molon, Представительский кабинет с отдельным санузлом
                    </div>
                </div>
            </li>
        </ul>
        <a href="#" class="in-room__tour js-bg-parallax">
            <picture>
                <source srcset="/images/tour-mobile.webp" media="(max-width: 576px)">
                <source srcset="/images/tour-tablet.webp" media="(max-width: 1024px)">
                <source srcset="/images/tour-laptop.webp" media="(max-width: 1500px)">
                <img src="/images/tour.webp" alt="" class="in-room__tour-image js-bg-parallax-image">
            </picture>
            <div class="in-room__tour-btn">
                Начать 3D тур по номеру
            </div>
        </a>
    </div>
</section>