<section class="infrastructure">
    <div class="infrastructure__content">

        <h2 class="h1 infrastructure__heading">
            Расположение<br>
            и инфраструктура
        </h2>
        <div class="infrastructure__row">
            <ul class="infrastructure__list">
                <li class="infrastructure__list-item">
                    <div class="infrastructure__card">
                        <div class="infrastructure__card-icon">
                            <img src="/images/infrastructure/1.svg" alt="" class="infrastructure__card-icon-image">
                        </div>
                        <div class="infrastructure__card-content">
                            <h3 class="infrastructure__card-title">
                                20 минут
                            </h3>
                            <div class="infrastructure__card-text">
                                прогулка<br>
                                до центра москвы
                            </div>
                        </div>
                    </div>
                </li>
                <li class="infrastructure__list-item">
                    <div class="infrastructure__card">
                        <div class="infrastructure__card-icon">
                            <img src="/images/infrastructure/2.svg" alt="" class="infrastructure__card-icon-image">
                        </div>
                        <div class="infrastructure__card-content">
                            <h3 class="infrastructure__card-title">
                                ~7 минут
                            </h3>
                            <div class="infrastructure__card-text">
                                от метро до отеля
                            </div>
                        </div>
                    </div>
                </li>
                <li class="infrastructure__list-item">
                    <div class="infrastructure__card">
                        <div class="infrastructure__card-icon">
                            <img src="/images/infrastructure/3.svg" alt="" class="infrastructure__card-icon-image">
                        </div>
                        <div class="infrastructure__card-content">
                            <h3 class="infrastructure__card-title">
                                10 минут
                            </h3>
                            <div class="infrastructure__card-text">
                                по набережной<br>
                                до москва сити
                            </div>
                        </div>
                    </div>
                </li>
                <li class="infrastructure__list-item">
                    <div class="infrastructure__card">
                        <div class="infrastructure__card-icon">
                            <img src="/images/infrastructure/4.svg" alt="" class="infrastructure__card-icon-image">
                        </div>
                        <div class="infrastructure__card-content">
                            <h3 class="infrastructure__card-title">
                                20 минут
                            </h3>
                            <div class="infrastructure__card-text">
                                до нового арбата
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="infrastructure__map-wrapper">
                <div class="infrastructure__map-scroll-wrapper">
                    <picture>
                        <source srcset="/images/infra-map-mobile.webp" media="(max-width: 576px)">
                        <source srcset="/images/infra-map-small-tablet.webp" media="(max-width: 768px)">
                        <img src="/images/infra-map-desktop.webp" alt="" class="infrastructure__map">
                    </picture>
                </div>
                <div class="infrastructure__map-scroll-indicator">
                    <div class="infrastructure__map-scroll-indicator-progress">
                        <div class="infrastructure__map-scroll-indicator-handle">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>