<section class="intro">
    <div class="intro__bg">
        <picture>
            <source srcset="/images/intro/mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/intro/tablet.webp" media="(max-width: 768px)">
            <source srcset="/images/intro/laptop.webp" media="(max-width: 1500px)">
            <img src="/images/intro/desktop.webp" alt="" class="intro__bg-image">
        </picture>
        <span class="intro__bg-mobile-gradient-one">

        </span>
        <span class="intro__bg-mobile-gradient-two">

        </span>
        <div class="intro__points">
            <a href="#" class="intro__point">
                <div class="intro__point-diamond">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#diamond"></use>
                    </svg>
                </div>
                <div class="intro__point-top-row">
                    <div class="intro__point-title">
                        Клубный корпус
                    </div>
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="intro__point-text">
                    идеально для отдыха
                </div>
            </a>
            <a href="#" class="intro__point">
                <div class="intro__point-diamond">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#diamond"></use>
                    </svg>
                </div>
                <div class="intro__point-top-row">
                    <div class="intro__point-title">
                        Бизнес корпус
                    </div>
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="intro__point-text">
                    идеально для MICE
                </div>
            </a>
        </div>
    </div>
    <div class="intro__content">
        <h1 class="h1 intro__heading">
            Plaza Garden<br> Moscow WTC
        </h1>
        <div class="intro__bottom-row">
            <div class="intro__form">
                {{> booking-form }}
            </div>
            <a href="#" class="intro__video">
                <img src="/images/intro-video.webp" alt="" class="intro__video-preview">
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#play"></use>
                </svg>
            </a>
        </div>
    </div>
</section>