<section class="living">
    <div class="living__content">
        <div class="living__top-row">
            <h2 class="h1 living__heading js-animated-heading">
                <span><b>Проживание</b></span><br>
                в Plaza Garden
            </h2>
            <a href="#" class="btn btn--outline living__more">
                Подробнее о номерах
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#diamond"></use>
                </svg>
            </a>
        </div>
        <div class="living__illustration-outer-wrapper">
            <img src="/images/living/mobile-bg-city.svg" alt="" class="living__illustration-bg-city">
            <div class="living__illustration-scroll-wrapper">
                <div class="living__illustration-wrapper">
                    <picture>
                        <source srcset="/images/living/mobile.svg" media="(max-width: 576px)">
                        <source srcset="/images/living/tablet.svg" media="(max-width: 1024px)">
                        <img src="/images/living/desktop.svg" alt="" class="living__illustration-image">
                    </picture>
                    <div class="living__clouds-wrapper">
                        <picture>
                            <source srcset="/images/living/clouds-mobile.svg" media="(max-width: 576px)">
                            <source srcset="/images/living/clouds-tablet.svg" media="(max-width: 1024px)">
                            <img src="/images/living/clouds-desktop.svg" alt="" class="living__clouds-image">
                        </picture>
                        <picture>
                            <source srcset="/images/living/clouds-mobile.svg" media="(max-width: 576px)">
                            <source srcset="/images/living/clouds-tablet.svg" media="(max-width: 1024px)">
                            <img src="/images/living/clouds-desktop.svg" alt="" class="living__clouds-image">
                        </picture>
                    </div>
                    <a href="#" class="living__club-card">
                        <div class="living__club-card-top-row">
                            <div class="living__club-card-title">
                                клубный
                                корпус
                            </div>
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                        <div class="living__club-card-amount">
                            149
                        </div>
                        <div class="living__club-card-units">
                            номеров
                        </div>
                    </a>
                    <div class="living__view">
                        <div class="living__view-title">
                            потрясающие виды
                            из окон на набережную москва реки
                        </div>
                        <div class="living__view-icon">
                            <img src="/images/view.svg" alt="">
                        </div>
                    </div>

                    <a href="#" class="living__business-card">
                        <div class="living__business-card-top-row">
                            <div class="living__business-card-title">
                                бизнес
                                корпус
                            </div>
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                        <div class="living__business-card-amount">
                            231
                        </div>
                        <div class="living__business-card-units">
                            номер
                        </div>
                    </a>
                    <div class="living__parking">
                        <div class="living__parking-title">
                            бесплатная парковка
                            на территории отеля
                            для проживающих гостей
                        </div>
                        <div class="living__parking-icon">
                            <img src="/images/parking-icon.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="living__scroll-indicator">
                <div class="living__scroll-indicator-progress">
                    <div class="living__scroll-indicator-handle">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>