<section class="loyalty-support">
    <picture class="loyalty-support__bg">
        <source srcset="/images/loyalty-support/mobile.webp" media="(max-width: 576px)">
        <source srcset="/images/loyalty-support/tablet.webp" media="(max-width: 1024px)">
        <source srcset="/images/loyalty-support/laptop.webp" media="(max-width: 1500px)">
        <img src="/images/loyalty-support/desktop.webp" alt="" class="loyalty-support__image">
    </picture>
    <div class="loyalty-support__content">
        <h2 class="loyalty-support__heading">
            Служба поддержки программы лояльности ЦМТ Бонус всегда на связи!
        </h2>
        <p class="loyalty-support__text">
            Мы&nbsp;рады общаться с&nbsp;нашими клиентами и&nbsp;делиться полезным контентом.
            <span>Присоединяйтесь к&nbsp;нам в&nbsp;социальных сетях!</span>
        </p>
        <div class="loyalty-support__contacts">
            <a href="mailto:bonus@wtcmoscow.ru" class="loyalty-support__contact">
                bonus@wtcmoscow.ru
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#diamond"></use>
                </svg>
            </a>
            <a href="tel:+74952581212" class="loyalty-support__contact">
                8 (495) 258-12-12
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#diamond"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
