<section class="loyalty-actions" id="loyalty-actions">
    <article class="loyalty-actions__item loyalty-actions__item--earn">
        <div class="loyalty-actions__content">
            <h2 class="loyalty-actions__title">
                Где еще<br> копить баллы?
            </h2>
            <p class="loyalty-actions__text">
                По факту регистрации Участника в Программе он получает 500 приветственных Баллов.
            </p>
            <a href="#loyalty-earn-modal" class="btn btn--outline btn--white loyalty-actions__link">
                Читать подробнее
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#diamond"></use>
                </svg>
            </a>
        </div>
    </article>
    <article class="loyalty-actions__item loyalty-actions__item--spend">
        <picture>
            <source srcset="/images/loyalty-actions/mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/loyalty-actions/tablet.webp" media="(max-width: 1024px)">
            <source srcset="/images/loyalty-actions/laptop.webp" media="(max-width: 1500px)">
            <img src="/images/loyalty-actions/desktop.webp" alt="" class="loyalty-actions__image">
        </picture>
        <div class="loyalty-actions__content">
            <h2 class="loyalty-actions__title">
                Как потратить бонусы?
            </h2>
            <p class="loyalty-actions__text">
                По факту регистрации Участника в Программе он получает 500 приветственных Баллов.
            </p>
            <a href="#loyalty-spend-modal" class="btn btn--outline btn--white loyalty-actions__link">
                Читать подробнее
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#diamond"></use>
                </svg>
            </a>
        </div>
    </article>
</section>
