<section class="loyalty-statuses">
    <div class="loyalty-statuses__content">
        <div class="loyalty-statuses__icon" aria-hidden="true">
            <svg width="121" height="121" viewBox="0 0 121 121" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M120.5 60.0921C87.305 60.0921 60.4 33.3572 60.4 0.368408C60.4 33.3572 33.7131 60.0921 0.790865 60.0921M120.5 60.3202C87.305 60.3202 60.4 86.9586 60.4 119.825C60.4 86.9586 33.7131 60.3202 0.790865 60.3202M120.127 120.368H0.5V0.499978H120.127V120.368Z"
                    stroke="#C6BC83" vector-effect="non-scaling-stroke" />
            </svg>
        </div>

        <div class="loyalty-statuses__text-content">
            <h2 class="h2 loyalty-statuses__heading js-animated-heading" data-stagger="0.03" data-duration="0.3">
                Программа предлагает участникам три статуса
            </h2>
            <div class="loyalty-statuses__text">
                Silver, Gold&nbsp;и&nbsp;Platinum, которые присваиваются согласно сумме, потраченной на приобретение услуг Центра
                международной торговли за последние 365 дней. Для каждого статуса доступны свои привилегии и действует свой
                процент начисления бонусов.
            </div>
        </div>

        <div class="loyalty-statuses__table-wrapper">
            <table class="loyalty-statuses__table" aria-label="Сравнение статусов программы лояльности">
                <colgroup>
                    <col>
                    <col class="loyalty-statuses__status-col">
                    <col class="loyalty-statuses__status-col">
                    <col class="loyalty-statuses__status-col">
                </colgroup>
                <thead>
                    <tr class="loyalty-statuses__cards-row">
                        <th scope="col"></th>
                        <th scope="col">
                            <span class="loyalty-statuses__card-heading">
                                <img src="/images/loyalty-statuses/card-silver.webp" alt="" class="loyalty-statuses__card-image">
                                <span>Silver card</span>
                            </span>
                        </th>
                        <th scope="col">
                            <span class="loyalty-statuses__card-heading">
                                <img src="/images/loyalty-statuses/card-gold.webp" alt="" class="loyalty-statuses__card-image">
                                <span>Gold card</span>
                            </span>
                        </th>
                        <th scope="col">
                            <span class="loyalty-statuses__card-heading">
                                <img src="/images/loyalty-statuses/card-platinum.webp" alt="" class="loyalty-statuses__card-image">
                                <span>Platinum card</span>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Условия для получения Статуса</th>
                        <td>с момента регистрации</td>
                        <td>от 100&nbsp;000 рублей</td>
                        <td>от 300&nbsp;000 рублей</td>
                    </tr>
                    <tr>
                        <th scope="row">Процент начисления бонусных баллов</th>
                        <td>5% от суммы</td>
                        <td>8 % от суммы</td>
                        <td>10% от суммы</td>
                    </tr>
                    <tr>
                        <th scope="row">Доступ к закрытым спецпредложениям и акциям</th>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                    </tr>
                    <tr>
                        <th scope="row">Поздний выезд Plaza Garden Moscow WTC*</th>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                    </tr>
                    <tr>
                        <th scope="row">Поздний выезд апарт-отель &laquo;Международная&raquo;*</th>
                        <td><img src="/images/loyalty-statuses/cross.svg" alt="Нет" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/cross.svg" alt="Нет" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                    </tr>
                    <tr>
                        <th scope="row">Ранний заезд Plaza Garden Moscow WTC*</th>
                        <td><img src="/images/loyalty-statuses/cross.svg" alt="Нет" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                    </tr>
                    <tr>
                        <th scope="row">Ранний заезд апарт-отель &laquo;Международная&raquo;*</th>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                    </tr>
                    <tr>
                        <th scope="row">Приветственный подарок во время регистрации в отеле Plaza Garden Moscow WTC</th>
                        <td><img src="/images/loyalty-statuses/cross.svg" alt="Нет" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                    </tr>
                    <tr>
                        <th scope="row">Повышение категории номера в отеле Plaza Garden Moscow WTC*</th>
                        <td><img src="/images/loyalty-statuses/cross.svg" alt="Нет" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/cross.svg" alt="Нет" class="loyalty-statuses__table-icon"></td>
                        <td><img src="/images/loyalty-statuses/check.svg" alt="Да" class="loyalty-statuses__table-icon"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="loyalty-statuses__note">
            *предложение доступно при наличии возможности
        </div>
    </div>
</section>
