<div class="menu">
    <div class="menu__content">
        <div class="menu__wrapper">

            <div class="menu__top-row">
                <a href="#" class="menu__logo">
                    <img src="/images/header-logo.svg" alt="" class="menu__logo-image">
                </a>
                <div class="menu__social">
                    <ul class="menu__social-list">
                        <li class="menu__social-list-item">
                            <a href="#" class="menu__social-link">
                                <svg width="12" height="12" aria-hidden="true">
                                    <use xlink:href="#menu-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="menu__social-list-item">
                            <a href="#" class="menu__social-link">
                                <svg width="12" height="12" aria-hidden="true">
                                    <use xlink:href="#menu-vk"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="menu__contacts">
                    <a href="#" class="menu__contacts-link">
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#user"></use>
                        </svg>
                        <span class="menu__contacts-link-text">
                            Войти
                        </span>
                    </a>
                    <a href="tel:+74952582222" class="menu__contacts-link">
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#phone"></use>
                        </svg>
                        <span class="menu__contacts-link-text">
                            +7 495 258 22 22
                        </span>
                    </a>
                </div>
                <a href="#" class="menu__book-btn">
                    Забронировать
                </a>
                <button class="menu__close js-menu-close" type="button">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>
            <div class="menu__nav">
                <ul class="menu__nav-list">
                    <li class="menu__nav-list-item">
                        <a href="#" class="menu__nav-link">
                            О нас
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                        <ul class="menu__nav-list">
                            <li class="menu__nav-list-item">
                                <a href="#" class="menu__nav-link back">
                                    <svg width="12" height="12" aria-hidden="true">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                    О нас
                                </a>
                            </li>
                            <li class="menu__nav-list-item">
                                <a href="#" class="menu__nav-link">
                                    Об отеле
                                </a>
                            </li>
                            <li class="menu__nav-list-item">
                                <a href="#" class="menu__nav-link">
                                    Услуги
                                </a>
                            </li>
                            <li class="menu__nav-list-item">
                                <a href="#" class="menu__nav-link">
                                    Документы и правила
                                </a>
                            </li>
                            <li class="menu__nav-list-item">
                                <a href="#" class="menu__nav-link">
                                    3D тур
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="menu__nav-list-item">
                        <a href="#" class="menu__nav-link">
                            Проживание
                        </a>
                    </li>
                    <li class="menu__nav-list-item">
                        <a href="#" class="menu__nav-link">
                            Спецпредложения
                        </a>
                    </li>
                    <li class="menu__nav-list-item">
                        <a href="#" class="menu__nav-link">
                            Рестораны и бары
                        </a>
                    </li>
                    <li class="menu__nav-list-item">
                        <a href="#" class="menu__nav-link">
                            Мероприятия
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                        <ul class="menu__nav-list">
                            <li class="menu__nav-list-item">
                                <a href="#" class="menu__nav-link back">
                                    <svg width="12" height="12" aria-hidden="true">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                    Мероприятия
                                </a>
                            </li>
                            <li class="menu__nav-list-item">
                                <a href="#" class="menu__nav-link">
                                    Mice
                                </a>
                            </li>
                            <li class="menu__nav-list-item">
                                <a href="#" class="menu__nav-link">
                                    Свадьбы
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__nav-list-item">
                        <a href="#" class="menu__nav-link">
                            Программа лояльности
                        </a>
                    </li>
                    <li class="menu__nav-list-item">
                        <a href="#" class="menu__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu__bottom-row">
                <div class="menu__links">
                    <a href="#" class="menu__link">
                        Бизнес корпус
                    </a>
                    <a href="#" class="menu__link">
                        Клубный корпус
                    </a>
                </div>
                <div class="menu__bottom-btns">
                    <div class="menu__social">
                        <ul class="menu__social-list">
                            <li class="menu__social-list-item">
                                <a href="#" class="menu__social-link">
                                    <svg width="12" height="12" aria-hidden="true">
                                        <use xlink:href="#menu-telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="menu__social-list-item">
                                <a href="#" class="menu__social-link">
                                    <svg width="12" height="12" aria-hidden="true">
                                        <use xlink:href="#menu-vk"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu__language">
                        <button class="menu__language-btn" type="button">
                            RU
                        </button>
                        <div class="menu__language-dropdown">
                            <div class="menu__language-dropdown-inner">
                                <a href="#" class="menu__language-dropdown-link active">
                                    CN
                                    <span class="menu__language-dropdown-link-mark">

                                    </span>
                                </a>
                                <a href="#" class="menu__language-dropdown-link">
                                    RU
                                    <span class="menu__language-dropdown-link-mark">

                                    </span>
                                </a>
                                <a href="#" class="menu__language-dropdown-link">
                                    EN
                                    <span class="menu__language-dropdown-link-mark">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu__contacts">
                        <a href="#" class="menu__contacts-link">
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#user"></use>
                            </svg>
                            <span class="menu__contacts-link-text">
                                Войти
                            </span>
                        </a>
                        <a href="tel:+74952582222" class="menu__contacts-link">
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#phone"></use>
                            </svg>
                            <span class="menu__contacts-link-text">
                                +7 495 258 22 22
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>