<section class="not-found">
    <div class="not-found__bg">
        <picture>
            <source srcset="/images/not-found/mobile.svg" media="(max-width: 576px)">
            <source srcset="/images/not-found/tablet.svg" media="(max-width: 1024px)">
            <source srcset="/images/not-found/laptop.svg" media="(max-width: 1500px)">
            <img src="/images/not-found/desktop.svg" alt="" class="not-found__bg-image">
        </picture>
    </div>
    <div class="not-found__content">
        <a href="#" class="not-found__logo">
            <img src="/images/not-found-logo.svg" alt="" class="not-found__logo-image">
        </a>
        <div class="not-found__text-content">
            <h1 class="h1 not-found__heading">
                404
            </h1>
            <div class="not-found__text">
                К сожалению, такой страницы не существует, возможно, произошла ошибка при вводе запроса. Вы можете
                попробовать перезагрузить страницу еще раз или перейти на главную страницу.
            </div>
        </div>
        <a href="#" class="not-found__link">
            Перейти на главную страницу
        </a>
    </div>
</section>