<section class="other-special">
    <div class="other-special__content">
        <h2 class="h1 other-special__heading">
            Другие специальные<br>
            предложения
        </h2>
        <div class="other-special__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="special__slider-card">
                            <div class="special__slider-card-bg">

                            </div>
                            <div class="special__slider-card-content">
                                <h3 class="h3 special__slider-card-title">
                                    In Moscow<br>
                                    with love
                                </h3>
                                <div class="special__slider-card-bottom-row">
                                    <div class="btn btn--outline btn--white special__slider-card-btn">
                                        Подробнее
                                        <svg width="12" height="12" aria-hidden="true">
                                            <use xlink:href="#diamond"></use>
                                        </svg>
                                    </div>
                                    <img src="/images/special/1.svg" alt="" class="special__slider-card-icon">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="special__slider-card">
                            <div class="special__slider-card-bg">
                                <img src="/images/special/photo.webp" alt="" class="special__slider-card-image">
                            </div>
                            <div class="special__slider-card-content">
                                <h3 class="h3 special__slider-card-title">
                                    Romantic<br>
                                    Getaway
                                </h3>
                                <div class="special__slider-card-bottom-row">
                                    <div class="btn btn--outline btn--white special__slider-card-btn">
                                        Подробнее
                                        <svg width="12" height="12" aria-hidden="true">
                                            <use xlink:href="#diamond"></use>
                                        </svg>
                                    </div>
                                    <img src="/images/special/2.svg" alt="" class="special__slider-card-icon">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>