<section class="other-rooms">
    <div class="other-rooms__content">
        <h2 class="h1 other-rooms__heading js-animated-heading">
            <span><b>Другие номера</b></span><br>
            Бизнес корпуса
        </h2>
        <ul class="other-rooms__list">
            <li class="other-rooms__list-item">
                <a href="#" class="room-card">
                    <div class="room-card__image-container">
                        <img src="/images/business-block/rooms/1.webp" alt="" class="room-card__image">
                    </div>
                    <div class="room-card__content">
                        <div class="room-card__title">
                            Стандарт<br>
                            с 1 двуспальной кроватью
                        </div>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="other-rooms__list-item">
                <a href="#" class="room-card">
                    <div class="room-card__image-container">
                        <img src="/images/business-block/rooms/2.webp" alt="" class="room-card__image">
                    </div>
                    <div class="room-card__content">
                        <div class="room-card__title">
                            Стандарт<br>
                            с 2 раздельными кроватями
                        </div>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>