<section class="other-restaurants">
    <div class="other-restaurants__content">
        <h2 class="h1 other-restaurants__heading js-animated-heading">
            Другие<br>
            рестораны и&nbsp;бары
        </h2>
        <div class="other-restaurants__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="restaurant-card">
                            <div class="restaurant-card__image-wrapper">
                                <img src="/images/restaurants-catalog/3.webp" alt="" class="restaurant-card__image">
                            </div>
                            <div class="restaurant-card__content">
                                <h3 class="h2 restaurant-card__title">
                                    Lobby bar
                                </h3>
                                <div class="restaurant-card__text">
                                    В Lobby bar Клубного корпуса отеля Plaza Garden Moscow WTC Вы найдете большой выбор
                                    оригинальных авторских блюд и десертов.
                                </div>
                                <div class="btn btn--outline btn--white restaurant-card__link">
                                    Подробнее
                                    <svg width="12" height="12" aria-hidden="true">
                                        <use xlink:href="#diamond"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="restaurant-card">
                            <div class="restaurant-card__image-wrapper">
                                <img src="/images/restaurants-catalog/4.webp" alt="" class="restaurant-card__image">
                            </div>
                            <div class="restaurant-card__content">
                                <h3 class="h2 restaurant-card__title">
                                    Plaza Garden Cafe
                                </h3>
                                <div class="restaurant-card__text">
                                    Современное гастрономическое пространство Plaza Garden Cafe в оживленном Атриуме
                                    отеля
                                </div>
                                <div class="btn btn--outline btn--white restaurant-card__link">
                                    Подробнее
                                    <svg width="12" height="12" aria-hidden="true">
                                        <use xlink:href="#diamond"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>