<section class="other-halls">
    <div class="other-halls__content">
        <h2 class="h1 other-halls__heading">
            Другие залы
        </h2>
        <div class="other-halls__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hall-card">
                            <div class="hall-card__image-container">
                                <img src="/images/halls/1.webp" alt="" class="hall-card__image">
                            </div>
                            <div class="hall-card__content">
                                <h3 class="h4 hall-card__card-title">
                                    City Lounge
                                </h3>
                                <ul class="hall-card__card-features-list">
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Вместительность
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                300 персон
                                            </div>
                                        </div>
                                    </li>
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Общая площадь
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                495 м2
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="hall-card__card-btns">
                                    <a href="#" class="hall-card__card-filled-btn">
                                        Забронировать зал
                                    </a>
                                    <a href="#" class="hall-card__card-outline-btn">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hall-card">
                            <div class="hall-card__image-container">
                                <img src="/images/halls/2.webp" alt="" class="hall-card__image">
                            </div>
                            <div class="hall-card__content">
                                <h3 class="h4 hall-card__card-title">
                                    Premier Lounge
                                </h3>
                                <ul class="hall-card__card-features-list">
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Вместительность
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                300 персон
                                            </div>
                                        </div>
                                    </li>
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Общая площадь
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                495 м2
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="hall-card__card-btns">
                                    <a href="#" class="hall-card__card-filled-btn">
                                        Забронировать зал
                                    </a>
                                    <a href="#" class="hall-card__card-outline-btn">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hall-card">
                            <div class="hall-card__image-container">
                                <img src="/images/halls/3.webp" alt="" class="hall-card__image">
                            </div>
                            <div class="hall-card__content">
                                <h3 class="h4 hall-card__card-title">
                                    Queens Lounge
                                </h3>
                                <ul class="hall-card__card-features-list">
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Вместительность
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                300 персон
                                            </div>
                                        </div>
                                    </li>
                                    <li class="hall-card__card-features-list-item">
                                        <div class="hall-card__card-features-card">
                                            <div class="hall-card__card-features-card-key">
                                                Общая площадь
                                            </div>
                                            <div class="hall-card__card-features-card-value">
                                                495 м2
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="hall-card__card-btns">
                                    <a href="#" class="hall-card__card-filled-btn">
                                        Забронировать зал
                                    </a>
                                    <a href="#" class="hall-card__card-outline-btn">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>