<section class="profile-empty">
    <div class="profile-empty__content">
        <nav class="profile-empty__breadcrumbs" aria-label="Хлебные крошки">
            <a href="/">Главная</a>
            <span>/</span>
            <a href="#" class="active" aria-current="page">Контакты</a>
        </nav>

        <h1 class="profile-empty__heading h1">Профиль</h1>

        <div class="profile-empty__message">
            <p>Карта не найдена.</p>
            <p>Проверьте Вашу почту и присоединитесь к Программе лояльности.</p>
            <p>В случае, если у Вас остались вопросы - обратитесь в службу поддержки Программы лояльности по тел.+7(495)258-12-12 или по email bonus@wtcmoscow.ru</p>
        </div>

        <a class="profile-empty__rules-link" href="https://bonus.wtcmoscow.ru/" target="_blank" rel="noreferrer">
            Правила и условия программы лояльности ПАО «ЦМТ»
        </a>
    </div>
</section>
