<section class="restaurants-catalog">
    <div class="restaurants-catalog__content">
        <div class="restaurants-catalog__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <div class="restaurants-catalog__breadcrumbs-divider">
                /
            </div>
            <a href="#" class="active">
                Рестораны и бары
            </a>
        </div>
        <h1 class="h1 restaurants-catalog__heading">
            Рестораны<br>
            и бары
        </h1>
        <ul class="restaurants-catalog__list">
            <li class="restaurants-catalog__list-item">
                <a href="#" class="restaurant-card">
                    <div class="restaurant-card__image-wrapper">
                        <img src="/images/restaurants-catalog/1.webp" alt="" class="restaurant-card__image">
                    </div>
                    <div class="restaurant-card__content">
                        <h3 class="h2 restaurant-card__title">
                            RFR Grill
                        </h3>
                        <div class="restaurant-card__text">
                            В RFR ГРИЛЬ для Вас готовит профессиональная команда поваров во главе с бренд-шефом ЦМТ
                            Михаилом Кузнецовым и креативным шефом Максимом Савельевым.
                        </div>
                        <div class="btn btn--outline btn--white restaurant-card__link">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="restaurants-catalog__list-item">
                <a href="#" class="restaurant-card">
                    <div class="restaurant-card__image-wrapper">
                        <img src="/images/restaurants-catalog/2.webp" alt="" class="restaurant-card__image">
                    </div>
                    <div class="restaurant-card__content">
                        <h3 class="h2 restaurant-card__title">
                            Bar 24
                        </h3>
                        <div class="restaurant-card__text">
                            Здесь можно остановиться всего на несколько минут и выпить чашечку кофе за утренней газетой
                            или просмотром ТВ-новостей, а можно задержаться подольше для полноценного обеда или
                            основательного ужина.
                        </div>
                        <div class="btn btn--outline btn--white restaurant-card__link">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="restaurants-catalog__list-item">
                <a href="#" class="restaurant-card">
                    <div class="restaurant-card__image-wrapper">
                        <img src="/images/restaurants-catalog/3.webp" alt="" class="restaurant-card__image">
                    </div>
                    <div class="restaurant-card__content">
                        <h3 class="h2 restaurant-card__title">
                            Lobby bar
                        </h3>
                        <div class="restaurant-card__text">
                            В Lobby bar Клубного корпуса отеля Plaza Garden Moscow WTC Вы найдете большой выбор
                            оригинальных авторских блюд и десертов.
                        </div>
                        <div class="btn btn--outline btn--white restaurant-card__link">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="restaurants-catalog__list-item">
                <a href="#" class="restaurant-card">
                    <div class="restaurant-card__image-wrapper">
                        <img src="/images/restaurants-catalog/4.webp" alt="" class="restaurant-card__image">
                    </div>
                    <div class="restaurant-card__content">
                        <h3 class="h2 restaurant-card__title">
                            Plaza Garden Cafe
                        </h3>
                        <div class="restaurant-card__text">
                            Современное гастрономическое пространство Plaza Garden Cafe в оживленном Атриуме отеля
                        </div>
                        <div class="btn btn--outline btn--white restaurant-card__link">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>