<section class="restaurant-intro">
    <div class="restaurant-intro__content">
        <div class="restaurant-intro__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <div class="restaurant-intro__breadcrumbs-divider">
                /
            </div>
            <a href="#">
                Рестораны и бары
            </a>
            <div class="restaurant-intro__breadcrumbs-divider">
                /
            </div>
            <a href="#" class="active">
                RFR Grill
            </a>
        </div>
        <h1 class="h1 restaurant-intro__heading">
            RFR Grill
        </h1>
        <div class="restaurant-intro__stack">
            <div class="restaurant-intro__image-container">
                <picture>
                    <source srcset="/images/restaurant-intro/mobile.webp" media="(max-width: 576px)">
                    <source srcset="/images/restaurant-intro/tablet.webp" media="(max-width: 768px)">
                    <source srcset="/images/restaurant-intro/laptop.webp" media="(max-width: 1500px)">
                    <img src="/images/restaurant-intro/desktop.webp" alt="" class="restaurant-intro__image">
                </picture>
            </div>
            <div class="restaurant-intro__schedule">
                <svg width="12" height="12" aria-hidden="true">
                    <use xlink:href="#diamond"></use>
                </svg>
                <p>
                    Часы работы a la carte
                    Ежедневно 12:00 - 23:00
                </p>
                <p>
                    Часы подачи завтрака
                    Пн-Пт 06:30 - 11:00, Сб-Вс 06:30 - 11:30
                </p>


            </div>
        </div>
    </div>
</section>