<section class="restaurant-info">
    <div class="restaurant-info__content">
        <div class="restaurant-info__wrapper">
            <h2 class="h4 restaurant-info__heading js-animated-heading" data-stagger="0.03" data-duration="0.3">
                В RFR ГРИЛЬ для Вас готовит профессиональная команда поваров во главе с бренд-шефом ЦМТ Михаилом
                Кузнецовым
                и креативным шефом Максимом Савельевым.
            </h2>
            <div class="restaurant-info__text">
                <p>
                    Благодаря открытой кухне RFR ГРИЛЬ, гости ресторана могут не только наслаждаться тончайшими
                    ароматами готовящегося блюда в ожидании своего заказа, но и наблюдать за виртуозной и слаженной
                    работой поваров.
                </p>
                <p>
                    Сдержанная современная стилистика интерьера создает дополнительный комфорт и приятную, располагающую
                    к неспешному общению и отдыху атмосферу.
                </p>
                <p>
                    Завтраки, проходящие ежедневно в RFR ГРИЛЬ в формате "Шведского стола", полностью соответствуют
                    международным стандартам, и их меню постоянно обновляется для того, чтобы подарить гостям Plaza
                    Garden Moscow WTC идеальное начало дня!
                </p>
            </div>
            <ul class="restaurant-info__list">
                <li class="restaurant-info__list-item">
                    <a href="#" class="restaurant-info__card">
                        <h3 class="restaurant-info__card-title">
                            Основное меню
                        </h3>
                        <div class="restaurant-info__card-link">
                            Скачать
                        </div>
                    </a>
                </li>
                <li class="restaurant-info__list-item">
                    <a href="#" class="restaurant-info__card">
                        <h3 class="restaurant-info__card-title">
                            Винная карта
                        </h3>
                        <div class="restaurant-info__card-link">
                            Скачать
                        </div>
                    </a>
                </li>
                <li class="restaurant-info__list-item">
                    <a href="#" class="restaurant-info__card">
                        <h3 class="restaurant-info__card-title">
                            Детское меню
                        </h3>
                        <div class="restaurant-info__card-link">
                            Скачать
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>