<section class="restaurants">
    <div class="restaurants__content">
        <div class="restaurants__row">
            <div class="restaurants__left-col">
                <div class="restaurants__left-bg">
                    <div class="restaurants__left-bg-wrapper">

                    </div>
                </div>
                <div class="restaurants__nav">
                    <a href="#" class="restaurants__nav-link active">
                        <div class="h4 restaurants__nav-link-tab-btn">
                            <div class="restaurants__nav-link-tab-btn-icon">
                                <svg width="12" height="12" aria-hidden="true">
                                    <use xlink:href="#diamond"></use>
                                </svg>
                            </div>
                            RFR Grill
                        </div>
                        <div class="btn btn--outline btn--white restaurants__nav-link-btn">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="restaurants__nav-link">
                        <div class="h4 restaurants__nav-link-tab-btn">
                            <div class="restaurants__nav-link-tab-btn-icon">
                                <svg width="12" height="12" aria-hidden="true">
                                    <use xlink:href="#diamond"></use>
                                </svg>
                            </div>
                            Bar 24
                        </div>
                        <div class="btn btn--outline btn--white restaurants__nav-link-btn">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="restaurants__nav-link">
                        <div class="h4 restaurants__nav-link-tab-btn">
                            <div class="restaurants__nav-link-tab-btn-icon">
                                <svg width="12" height="12" aria-hidden="true">
                                    <use xlink:href="#diamond"></use>
                                </svg>
                            </div>
                            Lobby bar
                        </div>
                        <div class="btn btn--outline btn--white restaurants__nav-link-btn">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="restaurants__nav-link">
                        <div class="h4 restaurants__nav-link-tab-btn">
                            <div class="restaurants__nav-link-tab-btn-icon">
                                <svg width="12" height="12" aria-hidden="true">
                                    <use xlink:href="#diamond"></use>
                                </svg>
                            </div>
                            Plaza Garden Cafe
                        </div>
                        <div class="btn btn--outline btn--white restaurants__nav-link-btn">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="restaurants__bottom-wrapper">
                    <h2 class="h1 restaurants__heading">
                        Рестораны
                        и&nbsp;бары
                    </h2>
                    <a href="#" class="btn btn--outline btn--white restaurants__all-link">
                        Смотреть все
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#diamond"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="restaurants__right-col">
                <div class="restaurants__images-slider">
                    <div class="restaurants__images-slide active">
                        <img src="/images/restaurants.webp" alt="" class="restaurants__images-slide-photo">
                    </div>
                    <div class="restaurants__images-slide">
                        <img src="/images/about/1.webp" alt="" class="restaurants__images-slide-photo">
                    </div>
                    <div class="restaurants__images-slide">
                        <img src="/images/restaurants.webp" alt="" class="restaurants__images-slide-photo">
                    </div>
                    <div class="restaurants__images-slide">
                        <img src="/images/about/1.webp" alt="" class="restaurants__images-slide-photo">
                    </div>
                </div>
            </div>
        </div>
        <div class="restaurants__card">
            <div class="restaurants__card-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="restaurants__card-slider-item">
                                <div class="restaurants__card-title">
                                    ФЛАГМАНСКИЙ РЕСТОРАН
                                    В АТРИУМЕ БИЗНЕС КОРПУСА
                                </div>
                                <div class="restaurants__card-icon">
                                    <img src="/images/food.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="restaurants__card-slider-item">
                                <div class="restaurants__card-title">
                                    Lorem ipsum dolor sit amet.
                                </div>
                                <div class="restaurants__card-icon">
                                    <img src="/images/food.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="restaurants__card-slider-item">
                                <div class="restaurants__card-title">
                                    Lorem ipsum dolor sit amet consectetur adipisicing.
                                </div>
                                <div class="restaurants__card-icon">
                                    <img src="/images/food.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="restaurants__card-slider-item">
                                <div class="restaurants__card-title">
                                    Lorem ipsum dolor sit amet.
                                </div>
                                <div class="restaurants__card-icon">
                                    <img src="/images/food.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>