<section class="restaurant-gallery">
    <div class="restaurant-gallery__content">
        <div class="restaurant-gallery__slider">
            <div class="restaurant-gallery__slider-wrapper">
                <button class="restaurant-gallery__slider-arrow restaurant-gallery__slider-arrow--prev">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="restaurant-gallery__slider-card">
                                <img src="/images/restaurant-gallery/1.webp" alt=""
                                    class="restaurant-gallery__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="restaurant-gallery__slider-card">
                                <img src="/images/restaurant-gallery/2.webp" alt=""
                                    class="restaurant-gallery__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="restaurant-gallery__slider-card">
                                <img src="/images/restaurant-gallery/3.webp" alt=""
                                    class="restaurant-gallery__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="restaurant-gallery__slider-card">
                                <img src="/images/restaurant-gallery/4.webp" alt=""
                                    class="restaurant-gallery__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="restaurant-gallery__slider-arrow restaurant-gallery__slider-arrow--next">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>