<section class="restaurant-about">
    <div class="restaurant-about__content">
        <div class="restaurant-about__text-content">
            <picture>
                <source srcset="/images/about-pattern-tablet.svg" media="(max-width: 1024px)">
                <img src="/images/about-pattern.svg" alt="" class="restaurant-about__pattern">
            </picture>

            <h2 class="h2 restaurant-about__heading js-animated-heading">
                Флагманский ресторан<br>
                в Атриуме Бизнес корпуса
            </h2>
            <div class="restaurant-about__text">
                В меню – коллекция охлажденных премиум-стейков из мяса и рыбы, морепродукты, фирменные бургеры, сезонные
                гарниры и 100% натуральные соусы. Практически в каждом блюде присутствуют продукты или компоненты,
                приготовленные на лавовом гриле, которому отводится главное место на открытой кухне ресторана.
            </div>
        </div>
        <ul class="restaurant-about__images-list">
            <li class="restaurant-about__images-list-item">
                <div class="restaurant-about__image-card">
                    <img src="/images/restaurant-about/1.webp" alt="">
                </div>
            </li>
            <li class="restaurant-about__images-list-item">
                <div class="restaurant-about__image-card">
                    <img src="/images/restaurant-about/2.webp" alt="">
                </div>
            </li>
        </ul>

    </div>
</section>