<section class="about">
    <div class="about__content">
        <div class="about__text-content">
            <picture>
                <source srcset="/images/about-pattern-tablet.svg" media="(max-width: 1024px)">
                <img src="/images/about-pattern.svg" alt="" class="about__pattern">
            </picture>

            <h2 class="h2 about__heading js-animated-heading" data-stagger="0.03" data-duration="0.3">
                Безупречная элегантность<br> и внимание к деталям
            </h2>
            <div class="about__subheading">
                Индивидуальный дизайн, использование высококачественных и экологически чистых материалов делают
                Президентский Люкс прекрасным выбором. Вся мебель изготовлена итальянской компанией Francesko Molon по
                авторским эскизам. Роскошная люстра с кристаллами Swarovsky эффектно дополняет винтовую лестницу и
                подчеркивает единство двухуровневого пространства.
            </div>
            <a href="#" class="btn btn--brown about__link">
                Забронировать

            </a>
        </div>
        <div class="about__slider">
            <div class="about__slider-wrapper">
                <button class="about__slider-arrow about__slider-arrow--prev">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about__slider-card">
                                <img src="/images/room-about/1.webp" alt="" class="about__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__slider-card">
                                <img src="/images/room-about/2.webp" alt="" class="about__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__slider-card">
                                <img src="/images/room-about/3.webp" alt="" class="about__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__slider-card">
                                <img src="/images/room-about/4.webp" alt="" class="about__slider-card-image">
                            </div>
                        </div>

                    </div>
                </div>
                <button class="about__slider-arrow about__slider-arrow--next">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>