<section class="services">
    <div class="services__content">
        <div class="services__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <div class="services__breadcrumbs-divider">
                /
            </div>
            <a href="#">
                О нас
            </a>
            <div class="services__breadcrumbs-divider">
                /
            </div>
            <a href="#" class="active">
                Услуги
            </a>
        </div>
        <h1 class="h1 services__heading">
            Услуги
        </h1>
        <ul class="services__list">
            <li class="services__list-item">
                <a href="#services-modal" class="services__card">
                    <div class="services__card-image-container">
                        <img src="/images/services/1.webp" alt="" class="services__card-image">
                    </div>
                    <div class="services__card-content">
                        <h2 class="h4 services__card-title">
                            Фитнес-клуб WTC Fitness
                        </h2>
                        <div class="services__card-text">
                            Гостям отеля Plaza Garden Moscow WTC предоставляется возможность посещения партнерского
                            спортивного центра WTC FITNESS, укомплектованного новейшими разработками фитнес-индустрии.
                        </div>
                        <div class="btn btn--outline services__card-link">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services__list-item">
                <a href="#services-modal" class="services__card">
                    <div class="services__card-image-container">
                        <img src="/images/services/2.webp" alt="" class="services__card-image">
                    </div>
                    <div class="services__card-content">
                        <h2 class="h4 services__card-title">
                            Прачечная и химчистка
                        </h2>
                        <div class="services__card-text">
                            Мы предлагаем такие услуги как: химчистка и стирка любой сложности
                            по международным стандартам, чистка эксклюзивных изделий, доступные цены и индивидуальный
                            подход, экологически безопасные технологии.
                        </div>
                        <div class="btn btn--outline services__card-link">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services__list-item">
                <a href="#services-modal" class="services__card">
                    <div class="services__card-image-container">
                        <img src="/images/services/3.webp" alt="" class="services__card-image">
                    </div>
                    <div class="services__card-content">
                        <h2 class="h4 services__card-title">
                            Парковка
                        </h2>
                        <div class="services__card-text">
                            На территории отеля доступна бесплатная охраняемая парковка для зарегистрированных в отеле
                            гостей с личным автотранспортом. Заранее запрашивать машиноместо не нужно, достаточно просто
                            обратиться к портье в любое удобное для вас время.
                        </div>
                        <div class="btn btn--outline services__card-link">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services__list-item">
                <a href="#services-modal" class="services__card">
                    <div class="services__card-image-container">
                        <img src="/images/services/4.webp" alt="" class="services__card-image">
                    </div>
                    <div class="services__card-content">
                        <h2 class="h4 services__card-title">
                            Pets friendly
                        </h2>
                        <div class="services__card-text">
                            Если Вы везете Вашего "чемпиона" на выставку в Москву или просто любите путешествовать
                            вместе с домашним любимцем, пятизвездочный отель Plaza Garden Moscow WTC будет идеальным
                            местом для проживания!
                        </div>
                        <div class="btn btn--outline services__card-link">
                            Подробнее
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#diamond"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="services__modal js-modal" id="services-modal">
            <div class="services__modal-inner">
                <button class="services__modal-close js-modal-close" type="button">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#modal-close"></use>
                    </svg>
                </button>

                <div class="services__modal-block">
                    <h3 class="h4 services__modal-block-title">
                        Фитнес-клуб WTC Fitness
                    </h3>
                    <div class="services__modal-block-text">
                        <p>
                            Гостям отеля Plaza Garden Moscow WTC предоставляется возможность посещения партнерского
                            спортивного центра WTC FITNESS, укомплектованного новейшими разработками фитнес-индустрии.
                        </p>
                        <p>
                            Клуб включает бассейн с инновационной системой фильтрации воды, турецкую и финскую сауны,
                            современный тренажерный зал, кардиозону, групповые программы для любого уровня подготовки.
                            Гостям Клубного корпуса доступ предоставляется на комплиментарной основе.
                        </p>
                    </div>
                    <a href="#" class="btn btn--outline services__modal-block-link">
                        Скачать прайс лист
                        <svg width="12" height="12" aria-hidden="true">
                            <use xlink:href="#diamond"></use>
                        </svg>
                    </a>
                </div>
                <div class="services__modal-block">
                    <div class="services__modal-gallery">
                        <button class="services__modal-gallery-arrow services__modal-gallery-arrow--prev">
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="services__modal-gallery-card">
                                        <img src="/images/services/1.webp" alt=""
                                            class="services__modal-gallery-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services__modal-gallery-card">
                                        <img src="/images/services/1.webp" alt=""
                                            class="services__modal-gallery-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services__modal-gallery-card">
                                        <img src="/images/services/1.webp" alt=""
                                            class="services__modal-gallery-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="services__modal-gallery-arrow services__modal-gallery-arrow--next">
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="services__modal-block">
                    <h3 class="h4 services__modal-block-title">
                        Стоимость
                    </h3>
                    <div class="services__modal-block-text">
                        <h4>
                            Клубный корпус
                        </h4>
                        <p>
                            Дети с 5 лет до 7 лет могут посещать только бассейн в формате персональной тренировки
                            с тренером по предварительной записи. При себе родителям ребенка (или сопровождающему лицу)
                            необходимо иметь свидетельство о рождении ребенка (или его копию) для заполнения анкеты
                            посетителя клуба с детьми.
                        </p>
                        <p>
                            <em>
                                Стоимость 1 тренировки 45 минут в бассейне – 3250 рублей (за 1 ребенка).
                            </em>
                        </p>
                        <h4>
                            Бизнес корпус
                        </h4>
                        <p>
                            Гости (номера категорий Бизнес, Студио и Люкс) старше 16 лет могут приобрести доступ по
                            специальной цене <b>2 100 руб.</b>
                        </p>
                        <p>
                            При себе родителям ребенка (или сопровождающему лицу) необходимо иметь свидетельство о
                            рождении
                            ребенка (или его копию) для заполнения анкеты посетителя клуба с детьми. Дети с 5 лет до 16
                            лет
                            могут посещать только бассейн в формате персональной тренировки с тренером по
                            предварительной
                            записи
                        </p>
                        <p>
                            Стоимость 1 тренировки 45 минут в бассейне – 3250 рублей (за 1 ребенка)
                        </p>
                    </div>
                </div>
                <div class="services__modal-block">
                    <h3 class="h4 services__modal-block-title">
                        Правила посещения
                    </h3>
                    <div class="services__modal-block-text">
                        <p>
                            Расположение: 1 этаж, улица Молл. Время работы: с 7:00 до 23:00, в выходные и праздничные
                            дни -
                            с 9:00 до 21:00. Вход прекращается за 30 минут до закрытия.
                        </p>
                        <p>
                            Обращаем Ваше внимание, что самостоятельное посещение WTC Fitness допускается взрослыми и
                            детьми
                            от 16 лет.
                        </p>
                    </div>
                </div>
                <div class="services__modal-block">
                    <h3 class="h4 services__modal-block-title">
                        Контакты
                    </h3>
                    <div class="services__modal-block-text">
                        <p>
                            Расположение: 1 этаж, улица Молл. Время работы: с 7:00 до 23:00, в выходные и праздничные
                            дни -
                            с 9:00 до 21:00. Вход прекращается за 30 минут до закрытия.
                        </p>
                        <p>
                            Обращаем Ваше внимание, что самостоятельное посещение WTC Fitness допускается взрослыми и
                            детьми
                            от 16 лет.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>