<section class="restaurant-intro">
    <div class="restaurant-intro__content">
        <div class="restaurant-intro__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <div class="restaurant-intro__breadcrumbs-divider">
                /
            </div>
            <a href="#">
                Проживание
            </a>
            <div class="restaurant-intro__breadcrumbs-divider">
                /
            </div>
            <a href="#" class="active">
                In Moscow with Love
            </a>
        </div>
        <h1 class="h1 restaurant-intro__heading">
            In Moscow with Love
        </h1>
        <div class="restaurant-intro__stack">
            <div class="restaurant-intro__image-container">
                <picture>
                    <source srcset="/images/special-intro/mobile.webp" media="(max-width: 576px)">
                    <source srcset="/images/special-intro/tablet.webp" media="(max-width: 1024px)">
                    <source srcset="/images/special-intro/laptop.webp" media="(max-width: 1500px)">
                    <img src="/images/special-intro/desktop.webp" alt="" class="restaurant-intro__image">
                </picture>
            </div>
        </div>
    </div>
</section>