<section class="restaurant-about">
    <div class="restaurant-about__content">
        <div class="restaurant-about__text-content">
            <picture>
                <source srcset="/images/about-pattern-tablet.svg" media="(max-width: 1024px)">
                <img src="/images/about-pattern.svg" alt="" class="restaurant-about__pattern">
            </picture>

            <h2 class="h2 restaurant-about__heading">
                Забронируйте Ваш идеальный романтический отдых с уникальными привилегиями в отеле Plaza Garden Moscow
                WTC!
            </h2>
            <a href="#" class="btn btn--brown restaurant-about__link">
                Забронировать
            </a>
        </div>
        <ul class="restaurant-about__images-list">
            <li class="restaurant-about__images-list-item">
                <div class="restaurant-about__image-card">
                    <img src="/images/special-about/1.webp" alt="">
                </div>
            </li>
            <li class="restaurant-about__images-list-item">
                <div class="restaurant-about__image-card">
                    <img src="/images/special-about/2.webp" alt="">
                </div>
            </li>
        </ul>

    </div>
</section>