<section class="special-catalog">
    <div class="special-catalog__content">
        <div class="special-catalog__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <div class="special-catalog__breadcrumbs-divider">
                /
            </div>
            <a href="#" class="active">
                Специальные предложения
            </a>
        </div>
        <h1 class="h1 special-catalog__heading">
            Специальные<br>
            предложения
        </h1>
        <ul class="special-catalog__list">
            <li class="special-catalog__list-item">
                <a href="#" class="special__slider-card">
                    <div class="special__slider-card-bg">

                    </div>
                    <div class="special__slider-card-content">
                        <h3 class="h3 special__slider-card-title">
                            In Moscow<br>
                            with love
                        </h3>
                        <div class="special__slider-card-bottom-row">
                            <div class="btn btn--outline btn--white special__slider-card-btn">
                                Подробнее
                                <svg width="12" height="12" aria-hidden="true">
                                    <use xlink:href="#diamond"></use>
                                </svg>
                            </div>
                            <img src="/images/special/1.svg" alt="" class="special__slider-card-icon">
                        </div>
                    </div>
                </a>
            </li>
            <li class="special-catalog__list-item">
                <a href="#" class="special__slider-card">
                    <div class="special__slider-card-bg">
                        <img src="/images/special/photo.webp" alt="" class="special__slider-card-image">
                    </div>
                    <div class="special__slider-card-content">
                        <h3 class="h3 special__slider-card-title">
                            Romantic<br>
                            Getaway
                        </h3>
                        <div class="special__slider-card-bottom-row">
                            <div class="btn btn--outline btn--white special__slider-card-btn">
                                Подробнее
                                <svg width="12" height="12" aria-hidden="true">
                                    <use xlink:href="#diamond"></use>
                                </svg>
                            </div>
                            <img src="/images/special/2.svg" alt="" class="special__slider-card-icon">
                        </div>
                    </div>
                </a>
            </li>
            <li class="special-catalog__list-item">
                <a href="#" class="special__slider-card">
                    <div class="special__slider-card-bg" style="--bg-color: #868F99;">

                    </div>
                    <div class="special__slider-card-content">
                        <h3 class="h3 special__slider-card-title">
                            Pets<br>
                            friendly
                        </h3>
                        <div class="special__slider-card-bottom-row">
                            <div class="btn btn--outline btn--white special__slider-card-btn">
                                Подробнее
                                <svg width="12" height="12" aria-hidden="true">
                                    <use xlink:href="#diamond"></use>
                                </svg>
                            </div>
                            <img src="/images/special/3.svg" alt="" class="special__slider-card-icon">
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>