<section class="special-info">
    <div class="special-info__content">
        <div class="special-info__wrapper">
            <h2 class="special-info__heading js-animated-heading" data-stagger="0.03" data-duration="0.3">
                Предложение <b>«In Moscow with Love»</b>
                включает:
            </h2>
            <ul class="special-info__list">
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Приветственное угощение от шеф-кондитера с бутылкой игристого вина и декором сервировочного стола
                    лепестками роз по желанию гостя
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Размещение в эксклюзивном номере Клубный Премиум или Клубный Джуниор Люкс
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Завтрак, легкий ужин, а также закуски и напитки в течение дня в Клубном лаунже
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    По запросу возможен заказ Американского или Легкого завтрака на двоих с доставкой в номер!
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Приветственное угощение от шеф-кондитера с бутылкой игристого вина и декором сервировочного стола
                    лепестками роз по желанию гостя
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Доступ в фитнес-центр WTC Fitness с бассейном и ультрасовременными тренажерами
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Возможность проведения фотосъемки с фотографом гостя на территории ЦМТ
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Бесплатная охраняемая парковка для трех автомобилей
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Комплиментарный ранний заезд в 12.00 и поздний выезд в 16.00*
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    10% скидка на дополнительные номера**
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Комплиментарный ранний заезд в 12.00 и поздний выезд в 16.00*
                </li>
            </ul>
            <div class="special-info__remark">
                * Возможность рассматривается отелем за 24 часа до заезда гостей по предварительному запросу гостя и при
                наличии номеров. Требуется письменное подтверждение отеля.** В аналогичный период проживания с
                возможностью расширения периода.*** Скидка действует в течение 3 месяцев после выезда гостя.Перерыв
                между проживанием по спец. предложению и последующим проживанием должен быть не менее суток.
            </div>
        </div>
    </div>
</section>