<div class="video-modal js-modal" id="video-modal">
    <div class="video-modal__inner">
        <button class="video-modal__close js-modal-close" type="button">
            <svg width="15" height="15" viewBox="0 0 15 15">
                <path
                    d="M4.3539 3.6461L7.5007 6.79289L10.6468 3.64679L11.3539 4.3539L8.20781 7.5L11.3539 10.6461L10.6468 11.3532L7.5007 8.20711L4.3539 11.3539L3.64679 10.6468L6.79358 7.5L3.64679 4.35321L4.3539 3.6461Z" />
            </svg>
        </button>
        <div class="video-modal__card">
            <img src="/images/video.webp" alt="" class="video-modal__card-preview">
        </div>
    </div>
</div>