<section class="restaurant-about">
    <div class="restaurant-about__content">
        <div class="restaurant-about__text-content">
            <picture>
                <source srcset="/images/about-pattern-tablet.svg" media="(max-width: 1024px)">
                <img src="/images/about-pattern.svg" alt="" class="restaurant-about__pattern">
            </picture>

            <h2 class="h2 restaurant-about__heading js-animated-heading" data-stagger="0.03" data-duration="0.3">
                Создайте незабываемый праздник в одной
                из лучших свадебных локаций столицы!
            </h2>
            <div class="restaurant-about__text">
                Наш пятизвездочный отель в самом центре Москвы предлагает элегантные залы с панорамными видами,
                современные банкетные решения
                и индивидуальный подход к каждому мероприятию.
            </div>
            <a href="#" class="btn btn--small btn--brown restaurant-about__link">
                Провести мероприятие
            </a>
        </div>
        <ul class="restaurant-about__images-list">
            <li class="restaurant-about__images-list-item">
                <div class="restaurant-about__image-card">
                    <img src="/images/wedding-about/1.webp" alt="">
                </div>
            </li>
            <li class="restaurant-about__images-list-item">
                <div class="restaurant-about__image-card">
                    <img src="/images/wedding-about/2.webp" alt="">
                </div>
            </li>
        </ul>
    </div>
</section>