<section class="special-info">
    <div class="special-info__content">
        <div class="special-info__wrapper">
            <h2 class="special-info__heading special-info__heading--small js-animated-heading" data-stagger="0.03"
                data-duration="0.3">
                Совместно со свадебным проектом WTC Wedding мы помогаем парам реализовать любые свадебные сценарии – от
                романтичных мини-церемоний до масштабных торжеств.
            </h2>
            <div class="special-info__text">
                Наши гости могут рассчитывать на:
            </div>
            <ul class="special-info__list">
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Залы с незабываемыми панорамными видами на город
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Профессиональную организацию на всех этапах праздника
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Изысканное банкетное меню от шеф-повара
                </li>
                <li class="special-info__list-item">
                    <svg width="12" height="12" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                    Удобное размещение для молодоженов и гостей в отеле 5*
                </li>

            </ul>

        </div>
    </div>
</section>