<section class="wedding-room">
    <div class="wedding-room__bg">
        <picture>
            <source srcset="/images/wedding-room/mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/wedding-room/tablet.webp" media="(max-width: 768px)">
            <source srcset="/images/wedding-room/laptop.webp" media="(max-width: 1500px)">
            <img src="/images/wedding-room/desktop.webp" alt="" class="wedding-room__bg-image">
        </picture>
    </div>
    <div class="wedding-room__content">
        <div class="wedding-room__card">
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
            <div class="wedding-room__card-text">
                Отдохнуть накануне или после свадьбы в номере с высококлассным сервисом, провести фотосъемку утра
                невесты, девичника или первой встречи с женихом
            </div>
            <div class="wedding-room__card-icon">
                <img src="/images/wedding-room-icon.svg" alt="">
            </div>
        </div>
        <div class="wedding-room__bottom-row">
            <div class="wedding-room__text">
                Наш пятизвездочный отель в самом центре Москвы предлагает элегантные залы с панорамными видами,
                современные банкетные решения и индивидуальный подход к каждому мероприятию.
            </div>
            <h2 class="h1 wedding-room__heading">
                Проживание<br>
                в отеле 5*
            </h2>
        </div>
    </div>
</section>