<section class="weddings">
    <div class="weddings__bg">
        <picture>
            <source srcset="/images/weddings/mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/weddings/tablet.webp" media="(max-width: 1024px)">
            <source srcset="/images/weddings/laptop.webp" media="(max-width: 1500px)">
            <img src="/images/weddings/desktop.webp" alt="" class="weddings__image">
        </picture>
    </div>
    <div class="weddings__content">
        <div class="weddings__card">
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
            <div class="weddings__card-text">
                Создайте незабываемый праздник в одной
                из лучших свадебных локаций столицы!
            </div>
            <div class="weddings__card-icon">
                <img src="/images/wedding-icon.svg" alt="">
            </div>
        </div>
        <div class="weddings__bottom-row">
            <h2 class="h1 weddings__heading">
                Проведение<br>
                свадеб в Plaza Garden
            </h2>
            <a href="#" class="weddings__more-link">
                Подробнее о проведении свадеб
            </a>
        </div>
    </div>
</section>