<section class="wtc">
    <div class="wtc__bg">
        <picture>
            <source srcset="/images/wtc/mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/wtc/tablet.webp" media="(max-width: 768px)">
            <source srcset="/images/wtc/laptop.webp" media="(max-width: 1500px)">
            <img src="/images/wtc/desktop.webp" alt="" class="wtc__bg-image">
        </picture>
    </div>
    <div class="wtc__content">
        <div class="wtc__card">
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#diamond"></use>
            </svg>
            <div class="wtc__card-text">
                один из крупнейших многопрофильных бизнес-комплексов России, расположенный в центре Москвы, в
                непосредственной близости от Кремля
            </div>
            <div class="wtc__card-icon">
                <img src="/images/wtc-icon.svg" alt="">
            </div>
        </div>
        <div class="wtc__bottom-row">
            <div class="wtc__text">
                Вот уже более 45 лет здесь кипит деловая жизнь: в ЦМТ заключаются важные сделки, устанавливаются
                международные связи, проводятся встречи, форумы
                ёи конгрессы.
            </div>
            <h2 class="h1 wtc__heading">
                Центр<br>
                Международной<br> торговли
            </h2>
        </div>
    </div>
</section>