@use "../utils";
@use "../media";

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  @include media.breakpoint(mobile) {
    gap: 0.8rem;
  }
}

.booking-form__fields {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 0.4rem;

  @include media.breakpoint(mobile) {
    grid-gap: 0.8rem;
  }
}

.booking-form__field {
  display: flex;
  flex-direction: column;

  &--fullwidth {
    grid-column: 1 / -1;
  }
}

.booking-form__select-btn {
  display: block;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-height: 6.2rem;
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  svg {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    fill: white;
    transition: transform 0.2s;

    &:nth-of-type(2) {
      display: none;
    }
  }

  @include media.breakpoint(laptop) {
    min-height: 5.6rem;
  }

  @include media.breakpoint(mobile) {
    padding: 0.8rem 1.4rem;
    min-height: 4.8rem;

    svg {
      &:nth-of-type(1) {
        display: none;
      }

      &:nth-of-type(2) {
        display: block;
      }
    }
  }
}

.booking-form__select-btn-content {
  width: 30%;
  flex-grow: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
  @include media.breakpoint(laptop) {
    gap: 0;
  }
}

.booking-form__select-btn-label {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.8rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  color: #e7e7e9;

  @include media.breakpoint(laptop) {
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}

.booking-form__select-btn-value {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: 0.14rem;
  text-transform: uppercase;

  @include media.breakpoint(laptop) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.8rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
  }

  @include media.breakpoint(mobile) {
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}

.booking-form__submit {
  display: block;
  text-align: center;
  width: 100%;
  padding: 1.85rem 3.6rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: var(--primary-color);
  border-radius: 1rem;
  background: white;
  transition: background-color 0.2s, color 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:not([disabled]):hover {
      background-color: var(--primary-color);
      color: white;
    }
  }

  @include media.breakpoint(laptop) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.6rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    padding: 2rem 3rem;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4rem;
    letter-spacing: -0.024rem;
    padding: 1.7rem 3.4rem;
    text-transform: none;
  }
}
