@use "../utils";
@use "../media";

.btn {
  background-color: var(--dark-text);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  gap: 1rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: -0.028rem;
  padding: 0.8rem 1rem;
  border-radius: 10rem;

  color: white;
  transition: background-color 0.2s, color 0.2s;

  &:link,
  &:visited {
    color: white;
  }
  svg {
    width: 1.2rem;
    height: 1.2rem;
    fill: currentColor;
    flex-shrink: 0;
    position: relative;
    top: 0.1rem;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid var(--dark-text);
    color: var(--dark-text);

    &:link,
    &:visited {
      color: var(--dark-text);
    }

    svg {
      fill: var(--primary-color);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--dark-text);
        color: white;
      }
    }
  }

  &--white {
    background-color: white;
    color: var(--dark-text);

    &:link,
    &:visited {
      color: var(--dark-text);
    }

    svg {
      fill: currentColor;
    }

    &.btn--outline {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: white;
          color: var(--dark-text);
        }
      }
    }
  }

  &--brown {
    background-color: var(--primary-color);
    color: white;

    &:not(:has(svg)) {
      padding: 0.8rem 1.4rem;
    }
    &:link,
    &:visited {
      color: white;
    }

    svg {
      fill: currentColor;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--primary-color-hover);
      }
    }

    @include media.breakpoint(laptop) {
      padding: 0.8rem 1rem;
    }
  }
}
