@use "../utils";
@use "../media";

.faq {
  @include utils.blockWrapper;
  margin-bottom: 16rem;

  @include media.breakpoint(laptop) {
    margin-bottom: 12rem;
  }

  @include media.breakpoint(small-tablet) {
    margin-bottom: 10rem;
  }

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.faq__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.faq__heading {
  margin-bottom: 3rem;
  text-align: center;

  @include media.breakpoint(laptop) {
    margin-bottom: 2rem;
  }

  @include media.breakpoint(small-tablet) {
    margin-bottom: 1rem;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  max-width: 153.2rem;
  align-self: center;
  width: 100%;

  @include media.breakpoint(laptop) {
    margin-bottom: 4rem;
    max-width: 99.2rem;
  }

  @include media.breakpoint(small-tablet) {
    max-width: none;
    margin-bottom: 3rem;
  }
}

.faq__list-item {
  border-bottom: 1px solid #d4d5d9;
}

.faq__accordion-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  padding: 3rem 0;
  text-align: left;
  width: 100%;

  svg {
    flex-shrink: 0;
    width: 3.6rem;
    height: 3.6rem;
    transition: transform 0.2s;
  }

  .faq__accordion.active & {
    svg {
      transform: rotate(180deg);
    }
  }

  @include media.breakpoint(laptop) {
    padding: 2rem 0;
  }

  @include media.breakpoint(small-tablet) {
    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

.faq__accordion-btn-text {
  width: 30%;
  flex-grow: 1;
}

.faq__accordion-dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;

  .faq__accordion.active & {
    grid-template-rows: 1fr;
  }
}

.faq__accordion-dropdown-inner {
  overflow: hidden;
}

.faq__accordion-dropdown-text {
  padding-bottom: 3rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: -0.04rem;
  color: #868f99;
  // max-width: 80rem;

  max-width: 80rem;

  @include media.breakpoint(laptop) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: -0.032rem;
    padding-bottom: 2rem;
  }
}

.faq__btn {
  align-self: center;
}
