@use "../utils";
@use "../media";

.fitness {
  @include utils.blockWrapper;
  position: relative;
  z-index: 6;
  color: white;
}

.fitness__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  min-height: 126.4rem;

  @include media.breakpoint(laptop) {
    padding: 2rem 0;
    min-height: 90rem;
  }

  @include media.breakpoint(small-tablet) {
    min-height: 102.4rem;
    padding: 6rem 0;
  }

  @include media.breakpoint(mobile) {
    min-height: 80rem;
    padding: 6rem 0;
    justify-content: flex-end;
  }
}

.fitness__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  overflow: clip;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    height: 82%;
  }
}

.fitness__bg-image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  object-position: center top;
  @include media.breakpoint(small-tablet) {
    object-position: 35% top;
    height: 100%;
  }

  @include media.breakpoint(mobile) {
    object-position: 45% top;
  }
}

.fitness__bottom-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;
  margin-top: auto;

  @include media.breakpoint(small-tablet) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  @include media.breakpoint(mobile) {
    align-items: stretch;
    margin: 0;
  }
}

.fitness__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: -0.04rem;
  max-width: 60.5rem;

  @include media.breakpoint(laptop) {
    max-width: 45rem;
  }

  @include media.breakpoint(small-tablet) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: -0.032rem;
    max-width: 64rem;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.028rem;
    max-width: none;
  }
}

.fitness__heading {
  margin-left: auto;

  @include media.breakpoint(small-tablet) {
    margin: 0;
    order: -10;
  }
}

.fitness__card {
  width: 38rem;
  min-height: 28rem;
  border-radius: 1rem;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: var(--dark-text);
  position: relative;
  margin-top: 16rem;
  margin-left: 38rem;

  & > svg {
    position: absolute;
    left: 100%;
    top: 100%;
    width: 1.8rem;
    height: 1.8rem;
    fill: white;
    pointer-events: none;
  }

  @include media.breakpoint(laptop) {
    width: 27rem;
    min-height: 20rem;
    margin-top: 13.6rem;
    margin-left: 28rem;
  }

  @include media.breakpoint(small-tablet) {
    width: 16.4rem;
    min-height: 13.8rem;
    padding: 1rem;
    margin-top: 19rem;
    margin-left: 13rem;
    padding: 1rem;
  }

  @include media.breakpoint(mobile) {
    margin: auto;
    margin-bottom: 6rem;
    margin-right: 1.8rem;
  }
}

.fitness__card-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  @include media.breakpoint(laptop) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0.14rem;
    text-transform: uppercase;
  }

  @include media.breakpoint(small-tablet) {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}

.fitness__card-icon {
  width: 4.8rem;
  height: 4.8rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #766b2c;
  margin-top: auto;

  @include media.breakpoint(laptop) {
    width: 3.6rem;
    height: 3.6rem;
  }

  @include media.breakpoint(small-tablet) {
    width: 3rem;
    height: 3rem;
  }
  img {
    width: 3.6rem;
    height: 3.6rem;
    object-fit: contain;
    @include media.breakpoint(laptop) {
      width: 2.4rem;
      height: 2.4rem;
    }

    @include media.breakpoint(small-tablet) {
      width: 2rem;
      height: 2rem;
    }
  }
}
