@use "../utils";
@use "../media";

.intro {
  @include utils.blockWrapper;
  color: white;

  @include media.breakpoint(mobile) {
    margin-bottom: 4rem;
  }
}

.intro__bg {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: relative;
  aspect-ratio: 1920 / 1649;
  @include media.breakpoint(laptop) {
    aspect-ratio: 1366 / 1173;
  }

  @include media.breakpoint(small-tablet) {
    aspect-ratio: 768 / 1235;
  }
  @include media.breakpoint(mobile) {
    aspect-ratio: 360 / 800;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.4);

    @include media.breakpoint(mobile) {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.intro__bg-mobile-gradient-one {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  aspect-ratio: 1920 / 437;

  @include media.breakpoint(laptop) {
    aspect-ratio: 1366 / 326;
  }
  @include media.breakpoint(small-tablet) {
    aspect-ratio: 768 / 326;
  }
  @include media.breakpoint(mobile) {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );

    aspect-ratio: 360 / 250;
  }
}

.intro__bg-mobile-gradient-two {
  display: none;
  @include media.breakpoint(mobile) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
    pointer-events: none;
    aspect-ratio: 358 / 326;
    height: auto;
    display: block;
  }
}

.intro__points {
  display: contents;
  @include media.breakpoint(mobile) {
    display: none;
  }
}

.intro__point {
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  color: white;
  display: flex;
  flex-direction: column;
  width: 29rem;
  position: absolute;
  z-index: 40;
  transition: color 0.2s, background-color 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: white;
      color: var(--dark-text);
    }
  }

  @include media.breakpoint(laptop) {
    width: 21rem;
  }

  &:nth-child(1) {
    right: 69%;
    top: 23%;
    @include media.breakpoint(small-tablet) {
      top: 36%;
      right: 65%;
    }

    .intro__point-diamond {
      left: 100%;
      bottom: 100%;
    }
  }

  &:nth-child(2) {
    right: 33%;
    bottom: 50%;

    .intro__point-diamond {
      left: 100%;
      top: 100%;
    }
  }
}

.intro__point-diamond {
  position: absolute;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  pointer-events: none;
  @include media.breakpoint(laptop) {
    width: 1.8rem;
    height: 1.8rem;
  }
  & > svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
    @include media.breakpoint(laptop) {
      width: 100%;
      height: 100%;
    }
  }
}

.intro__point-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    flex-shrink: 0;
    fill: currentColor;
    width: 3.8rem;
    height: 3.8rem;
    @include media.breakpoint(laptop) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

.intro__point-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  @include media.breakpoint(laptop) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.14rem;
    text-transform: uppercase;
  }
}

.intro__point-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: -0.032rem;

  @include media.breakpoint(laptop) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.024rem;
  }
}

.intro__bg-image {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.intro__content {
  @include utils.blockContent;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  padding-bottom: 61rem;

  @include media.breakpoint(laptop) {
    padding-top: 11rem;
    padding-bottom: 44.5rem;
  }

  @include media.breakpoint(small-tablet) {
    padding-top: 11.4rem;
    padding-bottom: 25rem;
  }

  @include media.breakpoint(mobile) {
    padding-top: 9rem;
    padding-bottom: 4.6rem;
  }
}

.intro__heading {
  text-align: right;
  position: relative;
  z-index: 20;

  @include media.breakpoint(small-tablet) {
    text-align: center;
    align-self: center;
  }
}

.intro__bottom-row {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: sticky;
  left: 0;
  bottom: 2rem;
  @include media.breakpoint(small-tablet) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    position: static;
  }
}

.intro__video {
  margin-left: auto;
  width: 37.7rem;
  flex-shrink: 0;
  aspect-ratio: 377 / 223;
  overflow: hidden;
  border-radius: 2rem;
  border: 1px solid white;
  position: relative;
  z-index: 20;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .intro__video-preview {
        transform: scale(1.02);
      }
    }
  }

  @include media.breakpoint(laptop) {
    width: 25.4rem;
    border-radius: 2rem;
    border: 1px solid white;
    aspect-ratio: 254 / 150;
  }

  @include media.breakpoint(small-tablet) {
    display: none;
  }
  svg {
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    fill: white;
    right: 3rem;
    bottom: 3rem;
    z-index: 2;
    @include media.breakpoint(laptop) {
      width: 2.2rem;
      height: 2.2rem;
      right: 2rem;
      bottom: 2rem;
    }
  }
}

.intro__video-preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.intro__form {
  width: 57.2rem;
  flex-shrink: 0;

  @include media.breakpoint(laptop) {
    width: 40.4rem;
  }

  @include media.breakpoint(small-tablet) {
    width: auto;
  }
}
