@use "../utils";
@use "../media";

.restaurant-intro {
  @include utils.blockWrapper;
  padding-top: 13rem;

  @include media.breakpoint(laptop) {
    padding-top: 12.4rem;
  }
  @include media.breakpoint(small-tablet) {
    padding-top: 9.4rem;
  }
}

.restaurant-intro__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.restaurant-intro__breadcrumbs {
  margin-bottom: 4rem;
  align-self: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem;
  letter-spacing: -0.028rem;
  color: var(--grey-text);
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.7rem;

  a {
    &.active {
      cursor: default;
      pointer-events: none;
    }

    @media (hover: hover) and (pointer: fine) {
      &:not(.active):hover {
        color: var(--dark-text);
      }
    }
  }
  @include media.breakpoint(laptop) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: -0.024rem;
    margin-bottom: 4rem;
  }

  @include media.breakpoint(small-tablet) {
    margin-bottom: 3rem;
  }
}

.restaurant-intro__heading {
  margin-bottom: 6rem;
  text-align: center;

  b {
    color: var(--primary-color);
    font-weight: inherit;
  }
  @include media.breakpoint(laptop) {
    margin-bottom: 4rem;
  }
  @include media.breakpoint(mobile) {
    margin-bottom: 3rem;
  }
}

.restaurant-intro__stack {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
}

.restaurant-intro__image-container {
  grid-area: stack;
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  overflow: clip;

  &::before {
    content: "";
    display: block;
    padding-bottom: 56.25%;

    @include media.breakpoint(small-tablet) {
      padding-bottom: 71.6%;
    }
    @include media.breakpoint(mobile) {
      padding-bottom: 166.6%;
    }
  }
}

.restaurant-intro__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  @include media.breakpoint(small-tablet) {
    height: 100%;
  }
}

.restaurant-intro__schedule {
  grid-area: stack;
  z-index: 5;
  width: 27rem;
  min-height: 20rem;
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  color: white;
  margin-top: 32.7rem;
  margin-right: 38.9rem;
  justify-self: flex-end;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  align-self: flex-start;

  svg {
    fill: currentColor;
    position: absolute;
    left: 100%;
    top: 100%;
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 0.4rem;
  }
  p {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media.breakpoint(laptop) {
    margin-top: 19.7rem;
    margin-right: 23.9rem;
  }

  @include media.breakpoint(small-tablet) {
    width: 20.2rem;
    min-height: 13.8rem;
    padding: 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-top: 13.6rem;
    margin-right: 13.7rem;
  }

  @include media.breakpoint(mobile) {
    margin-bottom: 3rem;
    margin-top: 17.5rem;
    margin-right: 4.4rem;
  }
}

.restaurant-intro__parking {
  grid-area: stack;
  z-index: 5;
  width: 38rem;
  padding: 2rem;
  border-radius: 1rem;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  color: white;
  margin-top: 33.6rem;
  margin-right: 26.3rem;
  justify-self: flex-end;
  align-self: flex-start;

  svg {
    fill: currentColor;
    position: absolute;
    left: 100%;
    top: 100%;
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 0.4rem;
  }
  p {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media.breakpoint(laptop) {
    margin-top: 12.4rem;
    margin-right: 16rem;
    width: 27rem;
  }

  @include media.breakpoint(small-tablet) {
    width: 27rem;
    margin: 0;
    align-self: flex-end;
    margin-bottom: 17.2rem;
    margin-right: 3.7rem;
    padding: 2rem;
  }

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.restaurant-intro__location-title,
.restaurant-intro__parking-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;

  @include media.breakpoint(laptop) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0.14rem;
    text-transform: uppercase;
  }
}

.restaurant-intro__location-text,
.restaurant-intro__parking-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: -0.032rem;

  @include media.breakpoint(laptop) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.024rem;
  }
}

.restaurant-intro__location {
  grid-area: stack;
  z-index: 5;
  width: 38rem;
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  color: white;
  margin-left: 38rem;
  margin-top: 45.5rem;
  justify-self: flex-start;
  align-self: flex-start;

  align-self: flex-start;

  svg {
    fill: currentColor;
    position: absolute;
    right: 100%;
    top: 100%;
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 0.4rem;
  }
  p {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media.breakpoint(laptop) {
    margin-top: 19.2rem;
    margin-left: 24.2rem;
    width: 27rem;
  }

  @include media.breakpoint(small-tablet) {
    width: 27rem;
    margin: 0;
    align-self: flex-start;
    margin-top: 7.8rem;
    margin-left: 8.4rem;
    padding: 2rem;
  }

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.restaurant-intro__hall-cards {
  display: contents;
}

.restaurant-intro__hall-card {
  grid-area: stack;
  z-index: 5;
  width: 27rem;
  min-height: 15.7rem;
  padding: 2rem;
  border-radius: 1rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  color: white;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  & > svg {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    fill: white;
  }

  &:nth-child(1) {
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 44.3rem;
    margin-left: 46.9rem;
    @include media.breakpoint(laptop) {
      margin-top: 29.6rem;
      margin-left: 24.2rem;
    }

    @include media.breakpoint(small-tablet) {
      align-self: flex-end;
      margin: 0;
      margin-bottom: 10.2rem;
      margin-left: 2.8rem;
    }

    @include media.breakpoint(mobile) {
      display: none;
    }

    & > svg {
      right: 100%;
      top: 100%;
    }
  }

  &:nth-child(2) {
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 28.8rem;
    margin-right: 52.7rem;
    & > svg {
      left: 100%;
      top: 100%;
    }
    @include media.breakpoint(laptop) {
      margin-top: 14rem;
      margin-right: 24rem;
    }

    @include media.breakpoint(small-tablet) {
      margin-top: 8.7rem;
      margin-right: 6rem;
    }
  }
}

.restaurant-intro__hall-card-title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  margin-bottom: auto;
}

.restaurant-intro__hall-card-amount {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 80%;
  letter-spacing: -0.448rem;
  font-family: var(--tt-ramillas);
}

.restaurant-intro__hall-card-units {
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: right;
}
