@use "utils";
@use "media";

.h1 {
  font-size: 14rem;
  font-style: normal;
  font-weight: 300;
  line-height: 14rem;
  letter-spacing: -0.98rem;
  font-family: var(--tt-ramillas);

  .word {
    padding-right: 0.03em;
  }

  @include media.breakpoint(laptop) {
    font-size: 11rem;
    font-style: normal;
    font-weight: 300;
    line-height: 11rem;
    letter-spacing: -0.77rem;
  }

  @include media.breakpoint(small-tablet) {
    font-size: 7rem;
    font-style: normal;
    font-weight: 300;
    line-height: 7rem;
    letter-spacing: -0.49rem;
  }

  @include media.breakpoint(mobile) {
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 5rem;
    letter-spacing: -0.336rem;
  }
}

.h2 {
  font-size: 6.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 7rem;
  letter-spacing: -0.408rem;
  font-family: var(--tt-ramillas);

  @include media.breakpoint(laptop) {
    font-size: 5.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 5.4rem;
    letter-spacing: -0.324rem;
  }

  @include media.breakpoint(small-tablet) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3.2rem;
    letter-spacing: -0.192rem;
  }

  @include media.breakpoint(mobile) {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3.2rem;
    letter-spacing: -0.168rem;
  }
}

.h3 {
  font-size: 5.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 5.4rem;
  letter-spacing: -0.378rem;
  font-family: var(--tt-ramillas);

  @include media.breakpoint(laptop) {
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 5rem;
    letter-spacing: -0.336rem;
  }
  @include media.breakpoint(small-tablet) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3.2rem;
    letter-spacing: -0.192rem;
  }

  @include media.breakpoint(mobile) {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3.2rem;
    letter-spacing: -0.168rem;
  }
}

.h4 {
  font-family: var(--tt-ramillas);
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4.8rem;
  letter-spacing: -0.288rem;
  @include media.breakpoint(laptop) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3.6rem;
    letter-spacing: -0.192rem;
  }

  @include media.breakpoint(small-tablet) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.8rem;
    letter-spacing: -0.144rem;
  }
}
