@use "media";

:root {
  --primary-color: #766b2c;
  --primary-color-hover: #c6bc83;
  --dark-text: #24292f;
  --grey-text: #868f99;
  --grey-bg: #e7e7e9;
  --manrope: "Manrope", sans-serif;
  --onest: "Onest", sans-serif;
  --tt-ramillas: "TT Ramillas", serif;
  --golos: "Golos Text", sans-serif;
  --content-padding: 4rem;
  --container-width: 184rem;

  @include media.breakpoint(laptop) {
    --content-padding: 2rem;
  }
  @include media.breakpoint(small-tablet) {
    --content-padding: 2.4rem;
  }
  @include media.breakpoint(mobile) {
    --content-padding: 1.2rem;
  }
}
